/*
** Easy pieChart
*/

.chart {
  position: relative;
  display: inline-block;
  min-height: 150px;
  min-width: 150px;
  margin-bottom:0;
  text-align: center;

  .chart-meta {
    position: absolute;
    width: 100%;
    top: 48%;
    transform: translateY(-50%);

    h4 {
      font-size:14px;
      margin:0;
      color: $fontColor;
      letter-spacing: 0;
      font-weight:700;
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
    }
  }
}

.percent {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-size:35px;
  font-weight:700;
  z-index: 2;
  line-height: 1;
  margin-bottom: 5px;
}

.percent:after {
  content: '%';
}

.angular {
  margin-top: 100px;
  .chart {
    margin-top: 0;
  }
}