/* 
** Template Specific Styles
*/
legend{
  margin-bottom: 10px;
}
#box_wrapper > section,
#box_wrapper > div > section {
  overflow: hidden;
}

#box_wrapper > section.page_topline,
#box_wrapper > section.page_toplogo,
#box_wrapper > section.overflow-visible,
#box_wrapper > div > section.overflow-visible {
  overflow: visible;
}

.partners-carousel {
  a {
    opacity: 0.2;
    &:hover {
      opacity: 0.8;
    }
  }
  .center a {
    opacity: 1;
  }
}

/* Button */
.btn.btn-outline-secondary{
  color: $darkColor;
  border-color:$backgroundLightColor;
  border-width: 2px;
  &:hover{
    color:$lightColor;
    border-color:$colorMain;
    background: $colorMain;
  }
}

//topline and toplogo
.dropdown-shopping-cart {
  position: relative;
  font-weight: 700;

  i {
    .page_toplogo & {
      position: relative;
      top: 0.18em;
    }
  }
  .badge {
    position: absolute;
    left:9px;
    top: -2px;
    .page_toplogo & {
      top: -0.3em;
    }
    padding: 3px 5px;
    border-radius: 50%;
    font-size: 9px;
    line-height: 10px;
    font-weight: 400;
    color: $lightColor;
  }
  &:hover {
    color: inherit;
  }

  & + .dropdown-menu {
    @media (min-width: 576px) {
      min-width: 430px;
    }
    margin-right:-35px;
    margin-top: 20px;
  }
}
.dropdown-shopping-cart.dropdown-toggle:after{
  display: none;
}
.header_absolute {
  &.cover-background,
  &.s-parallax {
    background-image: url("../images/breadcrumbs_bg.jpg");
    background-size: cover;
  }
}

.page_title {
  text-align: center;
  &.cover-background,
  &.s-parallax {
    background-image: url("../images/breadcrumbs_bg.jpg");
    background-size: cover;
  }
  h1,
  h2 {
    margin-bottom:18px;
    line-height: 1;
    position: relative;
    padding-bottom: 0;
    color: $lightColor;
    text-transform: capitalize;
    font-weight: 600;
    @media(min-width: 992px) {
      font-size: 42px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .small-title {
    margin-bottom: 0;
    & + .breadcrumb {
      font-size: 16px;
      letter-spacing: 0;
      text-transform: none;
      font-weight: 300;
    }
  }
  @media (min-width: 992px) {
    .title-inline {
      margin: 0;
      & + .breadcrumb {
        padding-left: 30px;
        margin-left: 30px;
        border-left: 1px solid $universalBorderColor;
      }
    }
  }
  .breadcrumb {
    line-height: 1;
  }
  [class*="container"] > .breadcrumb {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 0 15px;
    background-color: $borderColorRGBA;
  }
}

@media (max-width: 991px) {
  .page_title h1 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  .page_title h1, .page_title h2 {
    padding-bottom: 5px;
  }
}
@media (max-width: 479px) {
  .page_title .breadcrumb {
    line-height: 1.5;
  }
  .page_title h1, .page_title h2 {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .page_title h1 {
    font-size: 30px;
  }
  .single-post.entry-header .entry-title {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .single-post .overlay-image.left{
    padding: 15px 0 0 15px;
    left: -15px;
  }



}

.page_title .text-center h1:before,
.page_title .text-center h2:before,
.page_title .text-center h1:after,
.page_title .text-center h2:after{
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page_title.s-overlay h1:before,
.page_title.s-overlay h2:before{
  opacity: 1;
  background-color:$lightColor;
}

.page_map {
  height: 600px;
  text-align: center;
  .marker {
    display: none;
  }
}

.map_marker_description {
  h3 {
    line-height: 1;
    margin-bottom: 10px;
  }
  max-width: 270px;
  img {
    max-width: 90% !important;
  }
}

/* icon-list-row */
.icon-list-row{
  margin-right: 0;
  margin-left: 0;
  .icons_heading{
    text-transform: capitalize;
    font-size: 27px;
  }
}


//styling google info window
.gm-style .gm-style-iw {
  overflow: visible !important;
  text-align: center;
  line-height: 1.6em;

  & > *:first-child {
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid $colorMain;
    top: -25px;
    left: -16px;
    right: -16px;
    bottom: -25px;
    background: $lightColor;
    box-shadow: $boxShadow;
  }

  .icon-inline {
    display: inline-block;
    margin: 0.3em 0;
    .icon-styled {
      margin-right: 5px;

    }
  }
}

/*footer social buttons that hidden on half of their height*/


.footer_before{
  border-bottom: 1px solid $darkBorderColorRGBA;
  padding-top: 60px;
  padding-bottom:50px;
  .bottom-includes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
      display: inline;
      width: 100%;
      a.fa{
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        &:before{
          font-size: 20px;
          font-weight: 400;
          margin-right: 10px;
        }
      }
    }
  }

}

.page_footer, .footer_before {
  background-color:$backgroundColorFooter;
  //for hidden social icons
  overflow: hidden;
  position: relative;

  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }

  /*overriding Bootstrap Addons buttons*/


  .side-icon-box {
    margin: 0 0 14px;
    border-bottom: 1px solid $borderColorRGBA;
    padding-bottom:13px;
    &:last-child{
      border-bottom: none;
    }
    & > .icon-styled:first-child {
      margin-right: 0;
      position: relative;
      top:0;
    }

    .icon-styled + .media-body {
      margin-left:15px;
      span{
        display: block;
      }
    }
  }

  .col-md-12 {
    .widget_social_buttons {
      margin-bottom: 0;
      a {
        @media (min-width: 1200px) {
          margin-bottom: 0;
          &:hover {
            transform: translateY(0);
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  a.fa, a.fab{
    font-size: 14px;
    color: $lightColor;
    margin:0 20px 0 0;
    span{
      color: $lightColor;
      margin-left:3px;
      text-transform: capitalize;
      font-family: 'Nunito', sans-serif;
    }
    &:hover span{
      color: $colorMain;
    }
  }
}

.page_copyright {
  font-size: 14px;
  text-transform: none;
  font-weight:300;

  &.cover-background,
  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }
  .menu{
    font-size: 16px;
  }
}

@media (max-width: 1679px) {
  .page_footer[class*="c-gutter-"] [class*="col-"]{
      padding-right: 15px;
      padding-left: 15px;
    }
  .page_footer ul.bottom-includes li + li {
    margin-left: 20px;
  }
}


@media (max-width: 1440px) {
  .page_footer a.fa span,
  .page_footer a.fab span {
    margin-left: 8px;
  }
  .page_footer ul.bottom-includes li + li {
    margin-left: 10px;
  }
  .page_footer ul.bottom-includes li p.phone_number:before,
  .page_footer ul.bottom-includes li p.email_top:before {
    margin-right: 15px;
  }

}
@media (max-width: 1199px) {
  .page_footer a.fa span,
  .page_footer a.fab span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer_before .bottom-includes li a.fa {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .page_footer{
    .text-left {
      text-align: center!important;
    }
    .text-right {
      text-align: center!important;
    }
  }
  .page_footer .social-icons a:last-child{
    margin-right: 0;
  }
  .page_copyright .widget_nav_menu a, .page_topline .widget_nav_menu a {
    padding: 0 10px;
  }

}


//regular gallery item with absolute content and scaling header
.item-gallery {
  overflow: hidden;
  position: relative;
  background: transparent;

  .item-content {
    h4 {
      z-index: 5;
      transition: all 0.15s ease-in-out;
      opacity: 0;
      transform: scale(0);
      font-size: 20px;
      text-transform: capitalize;
    }
  }

  //hover styles
  &:hover {
    .item-content h4 {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.gallery-single .vertical-item.content-padding .item-content {
  padding: 53px 50px 53px;
}

//fw
.form-error {
  color: $colorDanger;
}

//title block

.title_block{
  position: relative;
  padding-bottom:6px;
  span{
    color: $colorMain;
  }
}

h4.title_block {
  padding-bottom: 36px;
  margin-bottom: 25px;
}


//custom width

.width-80{
  width: 80%;
}
.text-center [class*='width-']{
  position: relative;
  margin-top: 24px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 1199px) {
  .width-80{
    width:100%;
  }
}


//subtitle
.subtitle{
  font-size: 20px;
  margin-top: 35px;
}

@media (max-width: 1440px) {
  .item-gallery .item-content h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .item-gallery .item-content h4 {
    font-size: 17px;
  }
  .footer_before .bottom-includes{
    display: block;
    text-align: center;
  }
  .footer_before .bottom-includes li {
      display: block;
    + li {
      margin-top: 15px;
    }
  }
  .footer_before .bottom-includes li a.fa{
    margin: 0;
  }


}





//teaser

.teaser.box-shadow:hover{
  box-shadow: 0px 27px 24px -37px rgba(0, 0, 0, 0.66);
}
.cs.teaser{
  background: $colorMain;
  &:hover{
    background: $lightColor;
  }
}
.teaser{
  display: block;
  background: $lightColor;
  i{
    display: inline-block;
    vertical-align: middle;
  }
  &:hover{
    background: $colorMain;
  }
}
.teaser-box-section{
  margin-top:-65px;
  z-index: 10;
  background: transparent;
}

@media (max-width: 1199px) {
  .teaser-box-section {
    margin-top:-20px;
  }
}
@media (max-width: 991px) {
  .teaser-box-section .teaser h6{
    font-size: 16px;
  }
  .teaser-box-section .py-45{
      padding-top: 20px;
      padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
  .teaser i {
    display: block;
    margin-bottom: 10px;
  }
}



// form

.content-padding.contact-form{
  padding:37px 40px 26px;
}
.content-padding-large.contact-form{
  padding:54px 40px 60px;
}

@media (max-width: 1199px) {
  .content-padding.contact-form {
    padding: 29px 34px 26px;
  }
}



// custom classes for column

@media (max-width: 1199px) {
  .mobile-padding-normal [class*="col-"], .mobile-padding-normal > [class*="col-"]{
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .mobile-padding-normal .row, div.row.mobile-padding-normal {
    margin-right: -15px!important;
    margin-left: -15px!important;
  }
}
@media (max-width: 479px) {
  .courses.media .media-body {
    bottom: -73%;
  }
  .page_title.padding-mobile .container{
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .padding-mobile-small{
    padding: 30px;
  }
  .courses.media .media-body .number-lessons {
    margin-top: 10px;
    margin-bottom: 65px;
  }
}
.accordion-section .row .row {width: 100%;}

@media (min-width: 992px) and (max-width: 1199px) {

  .to-bottom-image img {
    margin-bottom:-5.1em;
  }
}


// event

.fw-event.type-fw-event{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .item-media-wrap{
    width:49%;
    margin-right: 30px;
  }
  .item-content{
    width:100%;
    padding: 0;
    box-shadow: none;
    .entry-meta{
      margin: 0 0 15px 0;
      padding:0;
      display: block;
      &:before, &:after{
        display: none;
      }

      .data-events{
        margin-right:13px;
        display: inline;
        time{
          text-transform: capitalize;
          font-weight: 300;
          font-size: 16px;
        }
        &:before{
          font-family: 'FontAwesome' !important;
          content: "\f073";
          font-size: 14px;
          display: inline-block;
          color:$fontColor;
          margin-right: 7px;
        }
        &:after{
          content: '';
          width: 1px;
          height:14px;
          background:$fontColor;
          display: inline-block;
          position: relative;
          margin-left:15px;
          top: 2px;
        }
      }
      .location-events{
        display: inline;
        &:before{
          font-family: FontAwesome;
          font-size: 14px;
          content: "\f041";
          display: inline-block;
          color:$fontColor;
          margin-right: 7px;
        }
        p{
          display: inline-block;
        }
      }
    }
    .entry-title{
      text-transform: capitalize;
      font-size:22px;
      letter-spacing: 1px;
      line-height: 1.1;
    }
    .read_more_events{
      margin-top:7px;
      padding: 6px 24px;
    }
  }

  + .fw-event.type-fw-event{
    margin-top: 50px;
    padding-top: 50px;
    position: relative;

  }
}

.event-single {
  .fw-event.type-fw-event {
    display: block;
  }
  .item-media + .item-content{
    margin-top:50px;
  }
}


@media (max-width: 1199px) {
  .post.event-post .item-content {
    padding: 30px 25px 30px;
  }
}

@media (max-width: 767px) {
  .post.event-post .item-content {
    padding: 30px 20px 30px;
  }
  .text-left, .text-right {
     text-align: center!important;
   }

}

@media (max-width:575px) {

  .subtitle {
    font-size: 15px;
    margin-top: 20px;
  }
  .after-title {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .fw-event.type-fw-event + .fw-event.type-fw-event:after {
    width: 400px
  }
}
@media (max-width:479px) {
  .fw-event.type-fw-event{
    display: block;
  }
  .fw-event.type-fw-event .item-media-wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .fw-event.type-fw-event + .fw-event.type-fw-event:after {
    width: 250px
  }
  .fw-event.type-fw-event .item-content .entry-meta .data-events:after{
    margin-left:15px;
  }
  .fw-event.type-fw-event .item-content .entry-meta .data-events {
    margin-right: 10px;
  }
  .fw-event.type-fw-event + .fw-event.type-fw-event {
    padding-top: 0;
  }

}

.button-page .btn{
  margin-bottom: 4px;
}

/* single events */
.fw-event.type-fw-event.event-single {
  display: table;
  .item-media-wrap{
    width:32%;
    float: left;
  }
    .item-content {
      box-shadow: none !important;
      padding: 0 0 0 30px;
      width: auto;
      float: left;
      .post-thumbnail + .entry-content {
        margin-top: 0;
      }
      .entry-content:before {
        display: none;
      }
      .entry-header{
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
        .entry-meta {
          clear: none;
          margin: 0 0 25px 0;
          padding:0;
          &:before, &:after {
            display: none;
            bottom: 0;
            top: auto;
          }
          &:after {
            bottom: 6px;
          }
        }
      }
      .data-events{
        margin-right:18px;

        &:before{
          font-family: FontAwesome;
          font-size: 14px;
          content: "\f017";
          display: inline-block;
          color:$colorMain;
          margin-right: 7px;
        }
        &:after{
          content: '';
          width: 1px;
          height:14px;
          background:$fontColor;
          display: inline-block;
          position: relative;
          margin-left:21px;
          top: 2px;
        }
      }
      .location-events{
        &:before{
          font-family: FontAwesome;
          font-size: 14px;
          content: "\f041";
          display: inline-block;
          color:$colorMain;
          margin-right: 7px;
        }
      }
      .entry-title{
        text-transform: uppercase;
        margin-bottom: 30px;
        padding-bottom: 43px;
        letter-spacing: 0;
        line-height: 1.1em;
        position: relative;
        &:before, &:after {
          position: absolute;
          bottom: 0;
          top: auto;
          left: 0;
          color: $colorMain;
        }
        &:before {
          font-family: 'icomoon' !important;
          content: "\e919";
          font-size: 13px;
          line-height: 1;
        }
        &:after {
          content: ".....................................";
          letter-spacing: 3.2px;
          line-height: 1;
          font-size: 13px;
          left: 23px;
          top: auto;
          bottom: 4px;
        }
      }
    }

  .fw-event.type-fw-event{
    display: block;
    .item-media {
      width: 100%;
      + .item-content{
        margin-top: 10px;
        padding: 0;
        .entry-meta{
          margin-top:17px;
        }
        .entry-title{
          padding-bottom: 0;
          margin-bottom: 13px;
          &:after, &:before{
            display: none;
          }
        }
      }
    }

  }
}
@media (max-width:479px) {
  .event-single{
    display: block;
  }
  .event-single .item-media {
    width: 100%;
  }
  .event-single .item-media + .item-content {
    width: 100%;
  }

}

// mail modal

#mail_modal .container{
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}
#mail_modal.modal{
  top: 100px;
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  .form-control {
    color: $fontColor;
    background-color:$greyColor;
    border-color:transparent transparent $borderColor;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }
}
select{
  padding: 10px 30px 9px 20px;
}

#mail_modal.modal input:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#mail_modal.modal input::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}

#mail_modal.modal input:-ms-input-placeholder {
  color: $fontColor;
}

#mail_modal.modal input::-webkit-input-placeholder {
  color: $fontColor;
}
#mail_modal.modal textarea:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#mail_modal.modal textarea::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}

#mail_modal.modal textarea:-ms-input-placeholder {
  color: $fontColor;
}

#mail_modal.modal textarea::-webkit-input-placeholder {
  color: $fontColor;
}
#mail_modal.modal textarea{
  background-image: -webkit-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -moz-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -ms-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -o-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-color:transparent;
  background-size: 100% 39px;
  height:118px;
  line-height: 40px;
  padding-top: 2px;
}

#mail_modal.modal .contact-form{
  padding-left:85px;
  padding-right: 85px;
}

#mail_modal.modal > .container > .row{
  background: $lightColor;
}



// sign in modal

#login_modal .container, #register_modal .container{
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}
#login_modal.modal, #register_modal.modal{
  top: 100px;
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  .form-control {
    color: $fontColor;
    background-color:$greyColor;
    border-color:$greyColor;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   padding: 5px 20px;
  }
  .form-group{
    button{
      padding: 15px 40px;
    }
  }
}


#login_modal label, #register_modal label{
  display: none;
}
#login_modal.modal input:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#login_modal.modal input::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}

#login_modal.modal input:-ms-input-placeholder {
  color: $fontColor;
}

#login_modal.modal input::-webkit-input-placeholder {
  color: $fontColor;
}
#login_modal.modal textarea:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#login_modal.modal textarea::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}

#login_modal.modal textarea:-ms-input-placeholder {
  color: $fontColor;
}

#login_modal.modal textarea::-webkit-input-placeholder {
  color: $fontColor;
}


#register_modal.modal input:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#register_modal.modal input::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}

#register_modal.modal input:-ms-input-placeholder {
  color: $fontColor;
}

#register_modal.modal input::-webkit-input-placeholder {
  color: $fontColor;
}
#register_modal.modal textarea:-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#register_modal.modal textarea::-moz-placeholder {
  color: $fontColor;
  opacity: 1;
}
#register_modal.modal textarea:-ms-input-placeholder {
  color: $fontColor;
}
#register_modal.modal textarea::-webkit-input-placeholder {
  color: $fontColor;
}


#login_modal.modal textarea, #register_modal.modal textarea{
  background-image: -webkit-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -moz-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -ms-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: -o-linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-image: linear-gradient(transparent, transparent 38px, $borderColor 30px, $borderColor 31px, $borderColor 31px)!important;
  background-color:transparent;
  background-size: 100% 39px;
  height:118px;
  line-height: 40px;
  padding-top: 2px;
}
#login_modal.modal .contact-form, #register_modal.modal .contact-form{
  padding-left:85px;
  padding-right: 85px;
}

#login_modal.modal > .container > .row, #register_modal.modal > .container > .row{
  background: $lightColor;
}
#register_modal .login-submit input,
#login_modal .login-submit input{
  margin-top: 30px;
}
.register_modal_button, .modal_register_form #nav a {
  float: none;
  position: relative;
  margin-top: 38px;
  font-size: 16px;
  font-weight: 400;
  color:$darkColor;
  opacity: 1;
  &:hover{
    color: $colorMain;
  }
}
.modal_register_form #nav {
  margin-top: 2em;
}
.modal_login_form .menu-left a + a, .modal_register_form .menu-left a + a{
  margin-left: 40px;
}
.register_modal_button, .modal_register_form #nav a {
  float: none;
  font-size: 16px;
  font-weight: 400;
  color: $darkColor;
  opacity: 1;
  margin-top:30px;
  position: relative;
}

// sign up

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
}
.contact-form.sign-in label{
  font-size: 16px;
  color: $fontColor;
  padding-left:0;
  margin-top:35px;
  margin-bottom: 0;
}
.contact-form.sign-in input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  padding-right: 0;
  width: 20px;
  height: 20px;
  line-height: 16px;
  font-size: 15px;
}

.close-modal{
  position: relative;
  color:$fontColor;
  margin-top: 2em;
  &:hover{
    color: $colorMain;
    &:after{
      background: $colorMain;
    }
  }
}





@media (max-width: 991px) {
  #login_modal .container, #register_modal .container {
    max-width: 760px;
  }
  #login_modal.modal .contact-form, #register_modal.modal .contact-form {
    padding-left: 50px;
    padding-right: 50px;
  }

}
@media (max-width: 767px) {
  #login_modal .container, #register_modal .container {
    max-width: 550px;
  }
  #login_modal.modal, #register_modal.modal {
    top: 10px;
  }
  #login_modal.modal .contact-form, #register_modal.modal .contact-form {
    padding-left: 20px;
    padding-right:20px;
  }
  #login_modal.modal h4,
  #register_modal.modal h4{
    font-size: 25px;
  }
  .contact-form.sign-in label {
    margin-top: 20px;
    margin-bottom: 0;
  }
  #register_modal #contact_signupform_submit, #login_modal #contact_signinform_submit {
    margin-top: 10px;
  }
  .close-modal {
    margin-top: 1em;
  }

}

@media (max-width: 575px) {
  #login_modal .container, #register_modal .container {
    max-width: 300px;
  }
  #login_modal.modal .contact-form,
  #register_modal.modal .contact-form {
    padding: 20px;
  }
}

/* Information */

#information-block {
  background-image: url(../images/information-block.jpg);
  background-size: cover;
}

.btn.large + span + .widget.widget_social_buttons{
  display: inline-block;
}



/* service */

.service-isotope {
  .icon-box {
    background-color: $lightColor;
    box-shadow: 0 1px 14px 1px rgba(0, 0, 0, 0.05);
    padding:42px 30px 31px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover{
      background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
      .icon-styled i {
        color: $lightColor;
        -webkit-text-fill-color:$lightColor;
      }
      h6{
        color: $lightColor;
      }
      p{
        color: $lightColor;
      }
      a.simple_link{
        color: $lightColor;
        &:hover{
          color:$darkColor ;
        }
      }
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .icon-styled i {
      font-size: 60px;
      color: $colorMain;
    }
    h6{
      margin-top: 0;
      font-weight: 300;
    }
  }

  p {
    color: $darkColor;
  }

  .icon-box{
      .item-button{
        font-family: "Nunito", sans-serif;
        font-size: 16px;
      }
    p {
      position: relative;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}



/* Service style2*/

.service-style-2{
  .icon-box {
    padding:60px;
    position: relative;
    .icon-styled i{
      margin-bottom: 10px;
    }
    h6 {
      position: relative;
      margin-top: 0;
      padding-bottom: 27px;
      margin-bottom: 26px;
      font-weight: 600;
      &:before {
        background-color: $fontColor;
        height: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        opacity: 0.2;
        bottom: 0;
        content: "";
        position: absolute;
        top: auto;
      }
      &:after {
        background-color: $fontColor;
        bottom: -1px;
        height: 3px;
        left: 50%;
        top: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 50px;
        content: "";
        position: absolute;
      }
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:hover{
      background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
      .icon-styled i {
        color: $lightColor;
        -webkit-text-fill-color:$lightColor;
      }
      h6{
        color: $lightColor;
        &:before, &:after{
          background: $lightColor;
        }
      }
      p{
        color: $lightColor;
      }
      a.simple_link{
        color: $lightColor;
        &:hover{
          color:$darkColor ;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .service-style-2 .icon-box {
    padding:25px;
  }
  .w-75 {
    width: 100%!important;
  }
  .c-gutter-100 [class*="col-"], .row.c-gutter-100 > [class*="col-"] {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .c-gutter-100 .row, div.row.c-gutter-100 {
    margin-left: -15px!important;
    margin-right: -15px!important;
  }

}



.service-isotope .icon-box a.simple_link{
  position: relative;
}

.service-title{
  padding-bottom: 27px;
  position: relative;
  margin-bottom: 25px;
  &:before, &:after{
    content: "";
    left: 0;
    position: absolute;
    top: auto;
    bottom: 0;
  }
  &:before {
    background-color:$borderColor;
    height: 1px;
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 66%;
  }
  &:after {
    background-color:$colorMain;
    height: 3px;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
  }
}
.icon-box .service-title a{
  position: relative;
}
.icon-box{
  .service-title {
    margin-bottom: 25px;
  }
}

.single.single-fw-services {
  .fw-services {
    width: 90%;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    .item-content {
      padding:3.2em 4.25em;

    }
  }
}

.ds{
  .ls.icon-box .icon-styled i {
    color: $darkColor;
  }
  .icon-box .icon-styled + h4 {
    text-transform: uppercase;
    a {
      color: $colorMain;
      &:hover{
        color: $darkColor;
      }
    }

  }
}
#box_wrapper > section.top-minus{
  overflow: visible;
}
.service-isotope.top-minus div[class*="col-"]{
  margin-top: -125px;
  z-index: 10;
}


@media (max-width: 1440px) {
  .service-isotope .icon-box {
    padding: 30px 20px 20px;
  }
  .single.single-fw-services .fw-services {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .service-isotope.top-minus div[class*="col-"]{
    margin-top: -85px;
  }
  .service-isotope .icon-box p:after {
    width: 200px;
  }
  .service-isotope .icon-box p:before {
    -moz-transform: translateX(-105px);
    -webkit-transform: translateX(-105px);
    -o-transform: translateX(-105px);
    -ms-transform: translateX(-105px);
    transform: translateX(-105px);
  }
  .m-45 {
    margin: 20px;
  }
  .service-isotope .icon-box {
    padding:30px 10px 32px;
  }

}


@media (max-width: 991px) {
  .service-isotope .icon-box p:after {
    width: 160px;
    margin-left: 10px;
  }
  .service-isotope .icon-box p:before {
    -moz-transform: translateX(-90px);
    -webkit-transform: translateX(-90px);
    -o-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    transform: translateX(-90px);
  }
  .service-isotope .icon-box {
    padding: 30px 15px 32px;
    width: 100%;
  }
  .service-isotope .icon-box .icon-styled + h4 {
    font-size: 20px;
  }

  #service-home, #team-home{
   background: transparent!important;
  }
  .single.single-fw-services .fw-services .item-content {
    padding: 2em;
  }

}
@media (max-width: 767px) {
  .service-isotope.top-minus div[class*="col-"] {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  #login_modal .container, #register_modal .container {
    max-width: 300px;
  }
  #login_modal.modal .contact-form,
  #register_modal.modal .contact-form {
    padding: 20px;
  }
}
@media (max-width: 479px) {
  .m-45 {
    margin: 5px;
  }
  a.fa, a.fab {
    margin-left: 4px;
    margin-right: 4px;
  }
  .btn.large {
    padding: 10px 35px;
  }
}
/* single services */
.single-service{
  article.fw-services{
    .entry-title{
      font-size: 30px;
      margin-bottom: 18px;
      padding-bottom: 35px;
      letter-spacing: 0;
      position: relative;
      &:before, &:after {
        position: absolute;
        bottom: 0;
        top: auto;
        left: 0;
        color: $colorMain;
      }
      &:before {
        font-family: 'icomoon' !important;
        content: "\e919";
        font-size: 13px;
      }
      &:after {
        content: ".....................................";
        letter-spacing: 3.2px;
        line-height: 1;
        font-size: 13px;
        left: 23px;
        top: auto;
        bottom: 4px;
      }
    }
  }
}
.single-service + .column-sidebar .widget_nav_menu  ul{
  li {
    font-size:18px;
    font-family: 'Anton', sans-serif;
    box-shadow: 0 1px 14px 1px rgba(0, 0, 0, 0.05);
    padding:22px 22px 18px;
    margin-bottom: 10px;
    border: none;
    a:before {
      display: none;
    }
  }
  i{
    color: $colorMain;
    font-size: 40px;
    margin-right:6px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width:1199px) {
  .service-menu ul.list-styled li {
    text-align: center;
    i {
      display: block;
    }
  }
}
@media (max-width:767px) {
  .service-menu ul.list-styled{
   margin-bottom: 50px;
  }
}
@media (max-width:479px) {
  article.fw-services {
    padding: 0;
  }
  .single-service article.fw-services .entry-title:after {
    letter-spacing: 2.2px;
    bottom: 8px;
  }
}



/* team */


  .team-item{
    position: relative;
    overflow: hidden;
    .item-media{
      img{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .item-content{
      position: relative;
      width: 100%;
      bottom:0;
      left: 0;
      right: 0;
      padding:36px 0 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      h5 {
        margin-bottom: 7px;
        font-size: 30px;
        font-weight: 300;
        a {
          color: $darkColor;
          &:hover {
            color: $colorMain;
          }
        }
      }
      .profession{
        color:$colorMain;
        font-size:18px;
        position: relative;
        margin-bottom:18px;
      }
      .social-icons a{
        color:$fontColor;
        &:hover{
          color: $colorMain;
        }
      }
    }
    &:hover{
      .item-content{
        bottom: 0;
      }
    }
  }



/* Single team*/
.single-team {
  .main-block {
    background-color: $greyColor;
    padding-top: 3.4em;
    padding-bottom: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .media-item {
      text-align: center;
      div {
        max-width: 320px;
        position: relative;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
        .social-icons {
          background-color: $colorMain;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 13px 0;
          margin-top: 0;
          position: relative;
          top: -20px;
          a {
            color: $lightColor;
            &:hover {
              color: $darkColor;
            }
          }
        }
      }
    }
    .content {
      .team-name {
        font-size: 36px;
        color: $darkColor;
        margin: 0;
      }
      .entry-description-profession {
        text-transform: capitalize;
        color: $colorMain;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        margin: 5px 0 29px;
        position: relative;
        padding-bottom: 0;
      }
      .social-icons {
        margin-top: 20px;
        margin-bottom: 0;
      }
     .experience, .phone, .mail, .location{
       margin-bottom:8px;
       strong{
         width: 123px;
         display: inline-block;
       }
       span{
         color: $darkColor;
       }
     }
    }
  }
}

@media (max-width: 767px) {
  .single-team .main-block .content{
    text-align: center;
  }
  .single-team .main-block .content .experience strong, .single-team .main-block .content .phone strong,
  .single-team .main-block .content .mail strong, .single-team .main-block .content .location strong{
    width: auto;
    margin-right: 10px;
  }

}

@media (max-width: 575px) {
  .single-team .icon-box.counter-inner {
    width: 100%;
    text-align: center;
  }
  .single-team .social-icons{
    text-align: center;
  }
  .single-team .icon-box + .icon-box{
    margin-left: 0;
  }
  margin-top: 0;
}

@media (max-width: 1199px) {
  .single-team .social-icons {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .single-team .team-name {
    font-size: 40px;
  }
}

@media (max-width: 479px) {
  .single-team .icon-box + .icon-box {
    margin-left: 0;
  }
}


/* Portfolio */

.isotope-item.item-layout-item-regular .item-content{
  display: none;
}



/* Map section */

.map-section h4 {
  text-transform: capitalize;
  margin-bottom: 16px
}
.map-section .jvectormap-zoomout, .map-section .jvectormap-zoomin {
  display: none;
}
.map-section svg {
  height: 450px;
}
@media (max-width: 575px) {
  .map-section svg {
    height: 350px;
  }
  .media-body h3, .media-body h4 {
    line-height: 1.2;
  }
}
@media (max-width: 479px) {
  .map-section svg {
    height:200px;
  }
}

/* Shortcode image with list */

.image-with-list {
  .left-column {
    ul.list-styled {
      position: relative;
      li {
        font-family: 'Anton', sans-serif;
        font-size: 17px;
        position: relative;
        text-align: right;
        padding-right: 30px;
        letter-spacing: 0.5px;
        margin-bottom:93px;
        line-height: 1;
        &:before{
          display: none;
        }
      }
      li:last-child{
        margin-bottom: 2px;
      }
      &:after{
        content: '';
        top: 0;
        right: -170px;
        position: absolute;
        height: 526px;
        width: 100%;
        background: url("../img/mask/image-with-list-left.png") no-repeat center center;
      }
    }
  }
  .right-column{
    ul.list-styled {
      li {
        font-family: 'Anton', sans-serif;
        font-size: 17px;
        position: relative;
        text-align: left;
        padding-left: 30px;
        letter-spacing: 0.5px;
        margin-bottom: 93px;
        line-height: 1;
        &:before{
          display: none;
        }
      }
      li:last-child{
        margin-bottom: 2px;
      }
      &:before{
        content: '';
        top: 0;
        left: -200px;
        position: absolute;
        height: 526px;
        width: 100%;
        background: url("../img/mask/image-with-list-right.png") no-repeat center center;
      }
    }
  }
  img{
    margin-top: 40px;
    margin-bottom: 85px;
  }
}
.image-with-list .left-column ul.list-styled li:nth-child(1){
  right:-3.7em;
}
.image-with-list .left-column ul.list-styled li:nth-child(2){
  right: 4.1em;
  margin-bottom: 130px;
}
.image-with-list .left-column ul.list-styled li:nth-child(3){
  right:6.45em;
  margin-bottom: 113px;
}
.image-with-list
.left-column ul.list-styled li:nth-child(4){
  right:4.6em;
  margin-bottom: 103px;
}
.image-with-list .left-column ul.list-styled li:nth-child(5){
  right: -3.05em;
}

.image-with-list .right-column ul.list-styled li:nth-child(1){
  left: -5.6em;
}
.image-with-list .right-column ul.list-styled li:nth-child(2){
  left:2.1em;
  margin-bottom: 130px;
}
.image-with-list .right-column ul.list-styled li:nth-child(3){
  left:4.5em;
  margin-bottom: 113px;
}
.image-with-list .right-column ul.list-styled li:nth-child(4){
  left:2.75em;
  margin-bottom: 103px;
}
.image-with-list .right-column ul.list-styled li:nth-child(5){
  left:-4.8em;
}
@media (max-width: 1440px) {
  .image-with-list img {
    margin-bottom: 105px;
  }
}
@media (max-width: 1199px) {
  .image-with-list .left-column ul.list-styled:after {
    right: -120px;
  }
  .image-with-list .right-column ul.list-styled:before {
    left: -150px
  }
  .image-with-list img {
    margin-bottom: 110px;
    width: 120%;
    max-width: 120%;
    left: -20px;
    position: relative;
  }
}
@media (max-width: 991px) {
  .image-with-list .left-column ul.list-styled:after {
    right: -95px;
  }
  .image-with-list .left-column ul.list-styled li:nth-child(3) {
    margin-bottom: 98px;
  }
  .image-with-list .right-column ul.list-styled:before {
    content: '';
    top: 0;
    left: -125px;
  }
  .image-with-list img {
    margin-top: 120px;
  }
  .image-with-list .right-column ul.list-styled li:nth-child(1) {
    left: -5.6em;
  }
  .image-with-list .right-column ul.list-styled li:nth-child(2) {
    left: 2.1em;
  }
  .image-with-list .right-column ul.list-styled li:nth-child(3) {
    left: 4.5em;
  }
  .image-with-list .right-column ul.list-styled li:nth-child(4) {
    left: 2.75em;
  }
  .image-with-list .right-column ul.list-styled li:nth-child(5) {
    left: -4.8em;
  }
  .image-with-list .left-column ul.list-styled li:nth-child(3) {
    margin-bottom: 98px;
  }

}
@media (max-width: 767px) {
  .image-with-list .left-column ul.list-styled:after {
    right: 0;
  }
  .image-with-list .left-column ul.list-styled li{
    right: 50% !important;
  }
  .image-with-list .left-column ul.list-styled li:nth-child(3) {
    margin-bottom: 113px;
  }
  .image-with-list .right-column ul.list-styled:before {
    content: '';
    top: 0;
    left:0;
  }
  .image-with-list .right-column ul.list-styled li{
    left: 50%!important;
  }
  .image-with-list img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .image-with-list .left-column ul.list-styled:after, .image-with-list .right-column ul.list-styled:before{
    background: url(../img/mask/image-with-list-mobile.png) no-repeat center center;
  }
  .image-with-list img {
    margin-bottom: 80px;
    width: 100%;
    max-width: 100%;
    left: 0;
    position: relative;
  }
}
@media (max-width: 575px) {
  .image-with-list .left-column ul.list-styled:after, .image-with-list .right-column ul.list-styled:before{
    width: 100px;
  }
  .image-with-list .left-column ul.list-styled li {
    right:15% !important;
  }
  .image-with-list .right-column ul.list-styled li {
    left: 10% !important;
  }
}



/* testimonials */


/* mailchimp */
#mailchimp{
  background-image: url(../images/mailchimp.jpg);
  background-size: cover;
}


/* team-style-1 */
.team-style-1 .card{
  display: block;
}
#team-home{
  background-image: url(../images/team-home.jpg);
  background-size: cover;
}


/* team-style-2 */
.team-style-2 {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 14px 1px rgba(0, 0, 0, 0.05);
  .item-content {
    position: absolute;
    top:100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -80px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    h6{
      margin-bottom:0;
      padding:28px 0;
      width: 100%;
      font-size:27px;
      background: $lightColor;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      a:hover{
        color: $colorMain;
      }
    }
    .social-icons{
      display: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      a{
        color:$colorMain;
      }
    }
  }
  &:hover .item-content{
    top: 0;
    background-color:$backgroundColorRGBA;
    h6{
      padding: 0;
      background: transparent;
      a{
        color: $lightColor;
      }
    }
    .social-icons {
      display: block;
      margin-top: 15px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}
p.entry-description-profession{
  color:$darkColor;
  font-weight:600;
}
p.entry-description{
  color:$darkColor;
  font-weight:600;
}

@media (max-width: 991px) {
  .team-style-2 .item-content h6 + p {
    margin-bottom: 10px;
  }
  .team-style-2 .item-content h6 {
    font-size: 18px;
  }
  .team-style-2.content-padding .item-content{
    margin-top:-25px;
  }
  .team-style-2 .item-content .social-icons{
    display: block;
  }
  .team-style-2:hover .item-content h6, .team-style-2 .item-content h6{
    padding: 20px 0;
  }

  .team-style-2:hover .item-content .social-icons{
    margin-top: 0;
  }



}


/* donation */

#donation{
  background-image: url(../images/donation.jpg);
  background-size: cover;
}
#donate{
  background-image: url(../images/donate.jpg);
  background-size: cover;
  select, a{
    display: inline-block;
  }
  select{
    width: 60%;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
  }
  .counter-inner{
    display: inline-block;
    + .counter-inner{
      margin-left:40px;
    }
  }
  .donate-inner{
    position: relative;
    &:after{
      color:$lightColor;
      font-size: 11px;
      font-family: 'FontAwesome';
      content: '\f078';
      position: absolute;
      right:190px;
      left: auto;
      bottom: 12px;
      z-index: 0;
    }
  }
}
.border-column-right{
  text-align: right;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid $darkBorderColorRGBA;
}
@media (max-width: 1199px) {
  #donate .counter-inner + .counter-inner {
    margin-left: 20px;
  }
}
@media (max-width: 991px) {
  .border-column-right{
    text-align: center;
    border: none;
  }
  .icon-box.counter-inner{
    width: auto;
  }
  #donation{
    background-image:none;
  }
}
@media (max-width: 767px) {
  .border-column-right {
    padding-top: 0;
    padding-bottom: 0;
    h4 {
      font-size: 30px;
    }
  }
  .text-right {
    text-align: center!important;
  }
  #donate .donate-inner:after {
    right: 205px;
    bottom: 15px;
  }

}

@media (max-width: 479px) {

  #donate .donate-inner:after{
    display: none;
  }
  #donate select {
    width: 100%;
  }
  #donate a{
    margin-top: 15px;
  }
  blockquote.has-image{
    align-items: flex-start;
  }


}

/* give */


.give-form-wrap {
  .give-goal-progress {
    margin-bottom: 35px;
    .raised{
      margin-bottom: 15px;
      color: $darkColor;
    }
    .income {
      font-size: 40px;
      line-height: 30px;
      font-weight: 500;
      color: $colorMain;
      font-family: 'Nunito', sans-serif;
      font-style: italic;
    }
    .give-progress-bar {
      height: 1px;
      position: relative;
      background:$darkBorderColorRGBA;
      overflow: visible;
      span{
        background: $colorMain!important;
        display: block;
        position: relative;
        height: 5px;
        top: -2px;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        border-radius: 2rem;
      }
    }
  }
  p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom:33px;
    letter-spacing: -0.1px;
  }
  .give-total-wrap{
    border-bottom: 1px solid $darkBorderColorRGBA;
    width: 70%;
    .give-text-input{
      display: inline-block;
      width: 70%;
      border: none!important;
      background: transparent!important;
    }
    .give-currency-symbol{
      color: $colorMain!important;
      margin-right: 20px!important;
      font-size: 16px !important;
    }
  }
  #give_purchase_form_wrap{
    background: $lightColor;
    padding:56px 75px;
    margin-top: 5em;
    width: 72%;
    #give_checkout_user_info{
      legend{
        font-size: 30px;
        line-height: 1;
        color: $colorMain;
        font-family: 'Nunito', sans-serif;
        padding-top: 0;
        padding-bottom: 25px;
        font-weight: 600;
        margin-bottom: 60px;
        position: relative;
        text-align: center;
        &:after, &:before{
          position: absolute;
          top: auto;
          left: 0;
          bottom: 0;
          content: '';
        }
        &:before{
          background-color: $fontColor;
          height: 3px;
          left: 50%;
          bottom: -1px;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 50px;
          z-index: 1;
        }
        &:after{
          background-color: $borderColor;
          height: 1px;
          left: 50%;
          opacity: 1;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 50%;
        }
      }
    }

    #give-first-name-wrap{
      margin-bottom:20px;
      width: 100%;
      padding-right: 0;
    }
    p.form-row.form-row-last{
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
    .give-donation-submit {
      margin-top:10px;
      .give_error.give_warning strong {
        color: $colorMain;
      }
      #give-final-total-wrap {
        font-size: 16px;
        border-bottom: 1px solid $darkBorderColorRGBA;
        width: 70%;
        padding-bottom: 3px;
        .give-donation-total-label {
          color: $colorMain;
          margin-right: 26px;
        }
      }
      .give-submit-button-wrap{
        margin-top:0;
        text-align: center;
        input{
          color: $lightColor;
          padding: 12px 24px;
          background: $colorMain;
          font-weight: 300;
          -webkit-border-radius: 5em;
          -moz-border-radius: 5em;
          border-radius: 5em;
          &:hover{
            background: transparent!important;
            color: $darkColor;
          }
        }
      }
    }


    .give-label{
      //color: $colorMain;
      //margin-bottom: 3px;
      display:none;
    }
  }



  input:-moz-placeholder {color:$lightColor;opacity: 1;font-size: 18px; }
  input::-moz-placeholder { color:$lightColor;opacity: 1;font-size: 18px; }
  input:-ms-input-placeholder { color:$lightColor;opacity: 1;font-size: 18px; }
  input::-webkit-input-placeholder { color:$lightColor;opacity: 1; font-size: 18px;}

}

#give_profile_editor_form{
  p.form-row.form-row-last {
    padding-left: 0;
  }
  p.form-row.form-row-first{
    padding-right: 0;
  }
  #give_profile_password_label, #give_personal_information_label{
    clear: both;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0;
  }
}

form[id*="give-form"] .give-donation-amount{
  margin: 0;
}

form[id*="give-form"] .give-donation-amount .give-currency-symbol.give-currency-position-before{
  border: none;
  background: transparent;
}

#give-payment-mode-select, [id*=give-form] .give-form-title{
  display: none;
}
.give-form-wrap #give_purchase_form_wrap #give_checkout_user_info legend{
  border: none;
}

#give-recurring-form .form-row input[type=email], #give-recurring-form .form-row input[type=password], #give-recurring-form .form-row input[type=tel], #give-recurring-form .form-row input[type=text], #give-recurring-form .form-row input[type=url], #give-recurring-form .form-row select, #give-recurring-form .form-row textarea, form.give-form .form-row input[type=email], form.give-form .form-row input[type=password], form.give-form .form-row input[type=tel], form.give-form .form-row input[type=text], form.give-form .form-row input[type=url], form.give-form .form-row select, form.give-form .form-row textarea, form[id*=give-form] .form-row input[type=email], form[id*=give-form] .form-row input[type=password], form[id*=give-form] .form-row input[type=tel], form[id*=give-form] .form-row input[type=text], form[id*=give-form] .form-row input[type=url], form[id*=give-form] .form-row select, form[id*=give-form] .form-row textarea{
  background: transparent!important;
  border-color:$borderColor;
  color: $lightColor!important;
}


.give-form-wrap #give_purchase_form_wrap #give-first-name-wrap{
  margin-right: 0;
}
.give-btn{
  &:hover{
    background: $colorMain!important;
    border: 2px solid $colorMain!important;
  }
}

#give-donation-level-button-wrap{
  margin-top:81px;
  padding-left: 0;
}
#give-recurring-form, form.give-form, form[id*=give-form]{
  margin: 0;
}

ul.give-donation-levels-wrap{
  list-style: none;
  li{
    display: inline-block;
    margin-right: 6px;
    button{
      font-weight: 300;
      padding: 9px 50px;
      font-size: 16px;
      border: 1px solid $backgroundColorRGBA!important;
      -webkit-border-radius: 5em;
      -moz-border-radius: 5em;
      border-radius: 5em;
      &:hover{
        border: 1px solid $lightColor!important;
        background:$lightColor!important;
        color: $darkColor!important;
      }
    }
  }

}

@media (max-width: 767px) {
  .give-form-wrap #give_purchase_form_wrap {
    width: 100%;
  }
  #give-donation-level-button-wrap {
    margin-top: 40px;
    padding-left: 0;
  }
  .give-form-wrap #give_purchase_form_wrap{
    margin-top: 40px;
  }


}




/* custom classes */
.before-bg:before{
  content: '';
  background-color: $greyColor;
  width: 230px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left:-230px;
  z-index: -1;
}
#icon-bg-gradient{
  background-image: url(../images/icon-bg-gradient.jpg);
  background-size: cover;
}
.position-absolute{
  position: absolute;
  left: auto;
  right: 60px;
  top: 65px;
}
#contact-dark{
  background-image: url(../images/contact-dark.jpg);
  background-size: cover;
}
#booking-img{
  background-image: url(../images/img-booking.jpg);
  background-size: cover;
}
#internet-service{
  background-image: url(../images/internet-service.jpg);
  background-size: cover;
  background-position:30% 0%;
}
#coverage-map{
  background-image: url(../images/coverage-map.jpg);
  background-size: cover;
}
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.border-radius-5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .position-absolute {
    top: 30px;
  }
  #booking-img {
    background-image:none
  }
  .before-bg:before{
    display: none;
  }
  .p-80{
    padding: 20px!important;
  }
}


/* Buddypress */

#buddypress {
  div.item-list-tabs {
    background: 0 0;
    clear: left;
    margin-bottom: 80px;
    ul {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $borderColor;
      li {
        float: left;
        margin: 0;
        list-style: none;
        a {
          font-size: 20px;
          padding: 10px;
          position: relative;
          display: inline-block;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:after {
            content: '';
            position: absolute;
            background: $lightColor;
            bottom: -2px;
            left: 0;
            right: 0;
            top: auto;
            width: 100%;
            height: 3px;
            opacity: 0;
          }
          &:hover {
            color: $fontColor;
            font-weight: 600;
            &:after {
              background: $fontColor;
              opacity: 1;
            }
          }
        }
        a.active{
          color: $fontColor;
          font-weight: 600;
          &:after {
            background: $fontColor;
            opacity: 1;
          }
        }
      }
    }
  }
  ul.item-list {
    width: 100%;
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
    li{
      padding: 30px 0;
      margin: 0;
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      .activity-content{
        padding-left:28px;
        .activity-header p{
          font-size: 20px;
          color: $darkColor;
          line-height: 20px;
        }
      }
      + li{
        border-top: 1px solid $borderColor;
      }
    }
  }
  .tab-content{
    padding: 0;
    box-shadow: none;
  }
}
#besocial-bp-bar{
  ul#besocial-bp-bar-right{
    margin: 0;
    padding: 0;
    #activity-filter-select {
      position: relative;
      list-style: none;
      &:after{
        color: $colorMain;
        font-size: 11px;
        font-family: 'FontAwesome';
        content: '\f078';
        position: absolute;
        right: 19px;
        left: auto;
        top: 20px;
        bottom:auto;
      }
      select.custom-select {
        background: $lightColor;
        padding: 10px 30px 9px 20px;
        height:60px;
        border: 2px solid $borderDarkColor;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 50px;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em;
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
}
#members-list-options{
  .nav-item .nav-link{
    padding: 16px 11px;
  }
}
.widget.buddypress {
  .tab-content {
    padding:56px 30px 45px;
    ul.tab-pane {
      margin: 0;
      padding: 0;
      li {
        clear: both;
        margin-bottom:20px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;
        .item{
          padding-left: 15px;
          line-height: 1;
          .item-meta .activity{
            color: $fontColor;
            &:before {
              font-family: 'icomoon' !important;
              content: "\e904";
              font-size: 14px;
              color: $fontColor;
              position: relative;
              padding-right: 9px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

#groups-list-options .nav-item .nav-link {
  padding: 16px 11px;
}

.widget_display_forums {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      > a {
        flex-grow: 10;
        display: inline-block;
        padding-top: 11px;
        padding-bottom: 8px;
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          font-size: 16px;
          color: $colorMain;
          position: relative;
          top: -1px;
          padding-right: 10px;
        }
      }
      + li {
        border-top: none;
      }
    }
  }
}


@media (max-width: 991px) {
  #buddypress div.item-list-tabs{
    margin-bottom: 40px;
  }
  #besocial-bp-bar ul#besocial-bp-bar-right #activity-filter-select select.custom-select{
    margin-bottom: 20px;
  }
  #members-list-options .nav-item .nav-link, #groups-list-options .nav-item .nav-link {
    padding: 16px 20px;
  }
}
@media (max-width: 479px) {
  #buddypress div.item-list-tabs ul li a {
    font-size: 17px;
    padding: 10px 5px;
  }
}


/* slider for home page*/

.faces-section{
  display: block;
  position: relative;
  overflow: hidden;
  .model-images{
    display: inline-block;
    position: relative;
    width: 380px;

    .flex-viewport{
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
    }
    .flex-direction-nav {
      li{
        a{
          top: auto;
          bottom:0;
          left: 0;
          height: 50px;
          width:75px;
          line-height: 50px;
          opacity: 1;
          font-size: 15px;
          background:$lightColor;
          &:before {
          font-family: 'icomoon' !important;
          font-size: 20px;
          content: "\e911";
          color: $fontColor;
          position: absolute;
          top:0;
          left: 36px;
           }
        }
        a.flex-prev:after{
          content: '';
          background:$borderColor;
          width: 1px;
          height:30px;
          position: absolute;
          top: 50%;
          left: auto;
          right: 0;
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      li.flex-nav-next{
        a{
          left:75px;
          &:before {
            font-family: 'icomoon' !important;
            font-size: 20px;
            content: "\e916";
            color: $fontColor;
            position: absolute;
            top:0;
            left:22px;
          }
        }
      }
    }
  }

}

section.faces-section .model-slider-thumbs .flex-direction-nav {
  display: none;
}
.faces-section .model-slider-thumbs .flex-viewport {
  height:180px;
  width: 550px;
  -webkit-transform: rotate(-270deg) translate(33.5%, 121%);
  transform: rotate(-270deg) translate(33.5%, 121%);
}
.faces-section .model-slider-thumbs .slides li {

  position: relative;
  text-align: center;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

section.faces-section .model-slider-thumbs .slides li img {
  cursor: pointer;
}

/* images overlay */



.overlay-image {
  position: relative;
  .image-back {
    height: 100%;
    position: absolute;
    right: 100px;
    top: 0;
    width: 100%;
    left: 0;
    img{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  .image-front {
    position: relative;
    z-index: 10;
    img{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}
.single-post .overlay-image.left{
  float: left;
  padding:20px 70px 35px 20px;
  margin-top: 35px;
}
.single-post .overlay-image.right{
  float: right;
  padding: 20px 20px 0 0;
  margin:0 0 35px 40px;
}
.overlay-image.right{
  .image-back{
    left: auto;
    right:-20px;
  }
}

.overlay-image.right {
  float: right;
  padding: 20px 20px 0 0;
  margin:10px 0 35px 40px;
}
.overlay-image.left{
  float: left;
  padding:20px 70px 0 20px;
}

@media (max-width: 1679px)  {
  .page_slider.team_slider .intro_layers_wrapper {
    top: 90px;
  }
  .team_slider.page_slider .flex-direction-nav .flex-next, .team_slider.page_slider .flex-direction-nav .flex-prev{
    bottom: 80px;
  }
  .team_slider.page_slider .flex-direction-nav .flex-prev {
    left: 43%;
  }
}
@media (max-width: 1499px) {
  #booking-img{ background-position:50% 0%};
}

@media (max-width: 1440px)  {

  .faces-section .model-slider-thumbs .flex-viewport {
    -webkit-transform: rotate(-270deg) translate(33.5%, 110%);
    transform:rotate(-270deg) translate(33.5%, 110%);
  }
  .team_slider.page_slider .flexslider .slides li.flex-slide {
    min-height: 610px;
  }
  .page_slider.team_slider .intro_layers_wrapper {
    top: 80px;
  }
  .page_slider.team_slider .flexslider .slides li.flex-slide .intro_layers_wrapper .social-icons {
    margin-top: 30px;
  }
  .team_slider.page_slider .flex-direction-nav .flex-next {
    right: 50%;
  }
  .team_slider.page_slider .flex-direction-nav .flex-prev {
    left: 41%;
  }

}
@media (max-width: 1199px) {
  #modelsliderthumbs{
    display: none;
  }
  .team_slider.page_slider .flexslider .slides li.flex-slide {
    min-height: 560px;
  }

}

@media (max-width: 991px) {

  .faces-section .model-images{
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .team_slider.page_slider .flexslider .slides li.flex-slide {
    min-height: 500px;
  }
  .page_slider.team_slider .intro_layers_wrapper {
    top: 60px;
  }
  .overlay-image.right {
    margin: 10px 0 35px 10px;
  }
  .overlay-image.left {
    padding: 20px 10px 0 20px;
  }

}
@media (max-width: 767px) {

  .page_slider.team_slider .flexslider .slides li.flex-slide h6,
  .page_slider.team_slider .flexslider .slides li.flex-slide h3,
  .page_slider.team_slider .flexslider .slides li.flex-slide p,
  .page_slider.team_slider .flexslider .slides li.flex-slide .social-icons,
  .page_slider.team_slider .flexslider .slides li.flex-slide .fw-divider-special-right{
    display: none;
  }
  .page_slider.team_slider .flexslider .slides li.flex-slide .intro_layers_wrapper {
    width:100%;
  }
  .page_slider.team_slider .intro_layers,
  .page_slider.team_slider .intro_layers .intro_layer,
  .page_slider.team_slider .intro_layers .intro_layer .text-right {
    text-align: left!important;
  }
  .team_slider.page_slider .flexslider .slides li.flex-slide {
    min-height: 300px;
  }

  .single-post .overlay-image.left {
    padding: 20px 30px 35px 20px;
  }



}



@media (max-width: 575px) {
  .overlay-image .image-back {
    right:75px;
  }
  .faces-section .model-slider-thumbs .flex-viewport{
    -webkit-transform: rotate(0) translate(0,0);
    transform: rotate(0) translate(0, 0);
    height: 188px

  }
  .faces-section .model-slider-thumbs .slides li{
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  section .w-75{
    width: 100%!important;
  }
  ul.give-donation-levels-wrap li button {
    padding: 9px 30px;
  }
  .give-form-wrap #give_purchase_form_wrap{
    padding: 20px;
  }
  .give-form-wrap #give_purchase_form_wrap #give_checkout_user_info legend {
    margin-bottom: 30px;
  }
  .dropdown-shopping-cart + .dropdown-menu {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
  .page_slider.team_slider .flexslider .slides li.flex-slide h2 {
    font-size: 2em;
  }
  .page_slider.team_slider .flexslider .slides li.flex-slide .intro_layers_wrapper {
    left: 15px;
  }
   .position-absolute{
     display: none;
   }
  .single-post .overlay-image.left {
    padding: 20px 30px 35px 20px;
  }

}

@media (max-width: 479px) {
  .faces-section .model-images {
    width: 290px;
  }
  .faces-section .model-slider-thumbs .flex-viewport {
    height: 130px;
  }
   ul.give-donation-levels-wrap li {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .team_slider.page_slider .flexslider .slides li.flex-slide {
    min-height: 200px;
  }
  .page_slider.team_slider .flexslider .slides li.flex-slide h2 {
    font-size:24px;
  }
  .overlay-image.right {
    margin: 0;
    padding: 15px 0 0 0;
  }
  .overlay-image.left {
    padding: 15px 0 0 15px;
    left: -15px;
  }
  .single-post .overlay-image.left{
    padding: 15px 0 0 15px;
    left: -15px;
  }
  .single-post .overlay-image.right{
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
  }
  .single-post .overlay-image.left, .single-post .overlay-image.right{
    float: none;
  }

}



/* countdown */
#countdown-section{
  background-image: url(../images/countdown-section.jpg);
  background-size: cover;
}




/* Contact form section */

#contact-form{
  background-image: url(../images/contact-form.jpg);
  background-size: cover;
}
form.ls {
  padding: 55px 75px;
}


@media (max-width: 1199px) {
  form.ls {
    padding:40px;
  }
}
































