///////////////////
//theme variables//
///////////////////

//Colors

//Monochrome colors

//text color in light section (.ls)
$fontColor: #9da5a9;
//background color for light section (.ls) and font color in dark section (.ds)
$lightColor: #ffffff;
//text color for headings in light section (.ls) and background color for dark section (.ds)
$darkgreyColor: #eae9ee;
//background color for light grey background light section (grey - .ls.ms)
$greyColor: #f7f6fb;
//background color for dark muted section (.ds.ms)
$darkColor: #323232;
$backdarkColorHover: #262c30;
//border colors for elements in light section (.ls) (and .bordered elements)
$borderColor: #dedede;
//rgba variant for bordered elements
$borderColorRGBA: rgba(#ffffff, 0.1);
//background color for hero background elements in light section (.hero-bg)
$backgroundColor: #f7f6fb;
//background color for footer
$backgroundColorFooter: #1d2225;
// light background color
$backgroundLightColor: #cacaca;
// dark border color
$borderDarkColor:#e7e8e9;
//background dark RGBA
$backgroundDarkRGBA: rgba(#ffffff, 0.9);
// background color rgba
$backgroundColorRGBA:rgba(#131e25, 0.2);
//text color for copyright
$backgroundcopyrightColor: #191d20;
//background color dark grey
$backgrounddarkgreyColorFooter: #2a2f35;



$boxShadow:0 2px 7px 2px rgba(0, 0, 0, 0.05);
$boxShadowHover:0px 27px 35px -28px rgba(0,0,0,0.66);
$boxShadowMainColor:0 1px 14px 1px rgba(240,199,10,0.2);

//section specific variables

// dark section - .ds

//font color in dark section (.ds)
$darkFontColor: #ffffff;
//border colors in dark section (.ds)
$darkBorderColor: #34373a;
//background color for elements with background (.hero-bg etc.)
$darkBackgroundColor: rgba(#fff, 0.05);
//rgba variant for bordered elements
$darkBorderColorRGBA: rgba(#ffffff, 0.10);

//color section - .cs

//border colors in color section (.cs)
$colorBorderColor: rgba(#fff, 0.15);
$colorBackgroundColor: rgba(#fff, 0.1);

//dark grey background dark blue section - (.ds.bs)
$darkBlueColor: #303a81;
$darkBlueColorLighter: #303a81;

//Accent Color schemes

//this variables is used in development process
//in production color variables are overridden in 'color_schemes' folder

//theme accent colors
$styleNumber: '' !default;
$colorMain: #42b7e2 !default;
$colorMain2: #8d66b4 !default;
$colorMain3: #ae419a !default;
$colorMain4: #7238a0 !default;


$colorvideo: #d7143a !default;



//////bootstrap colors
//orange - warning
$colorPrimary: $colorMain !default;
//green
$colorSuccess: #f8e540 !default;
//blue
$colorInfo: #007ebd !default;
//orange
$colorWarning: #eeb269 !default;
//red
$colorDanger: #dc5753 !default;

//universal muted background color
$universalBackgroundColor: rgba(150, 150, 150, 0.05) !default;
$universalBorderColor: rgba(200, 200, 200, 0.35) !default;

//Layout
//////side header
$sideHeaderWidth: 310px;
//inner side header padding
$sideHeaderLeftRightPadding: 30px;
//header transition
$headerTransition: 0.5s ease-in-out;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//_horizontal spacers
//reverse for smaller gutters has priority
$columns-horizontal-gutters-sum:175 160 150 140 135 120 110 100 80 75 60 50 46 40 30 25 20 15 10 8 5 4 2 1 0;
$container-horizontal-padding: 0 1 2 5 10 20 30 50 60 80;

//_vertical spacers - vertical margins and padding for sections and columns
$section-vertical-padding: 0 1 2 3 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 77 80 85 90 95 100 110 115 120 125 130 135 140 141 145 150 160 175 190 200 230;
$columns-vertical-margins: 0 1 2 5 10 15 20 25 30 40 46 50 60;

//top and bottom borders height for sections with borders - 1px by default
$section-borders-height: 2 3 5;

//font size helpers - fs-xx
$font-size-helpers:8 12 14 16 18 20 24 28 32 35 36 40 51 56 60;

$dividers-height: 0 5 8 10 15 20 23 25 30 35 40 42 45 48 50 52 55 60 64 65 67 70 75 80 85 90 95 96 100 105 110 115 120 130 140 145 150 190;

@mixin small-text() {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing:0;
}

@mixin cover() {
  content: '';
  position: absolute;
  display: block;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin widget-title() {
  font-weight: 700;
  font-size: 24px;
  margin-bottom:1.25em;
  letter-spacing: 0;
  line-height: 1;
  color: $darkColor;
}


@mixin widget-a-before-icomoon() {
  font-family: 'icomoon';
  content: '\e915';
  font-size: 14px;
  color: $colorMain;
  position: relative;
  padding-right: 10px;
}