/*
** Widgets
*/
aside h2 {
  margin-bottom: 0;
  line-height: 1;
}

aside > * + * {
  margin-top: 56px;
}

.widget {
  position: relative;
  & > h3,
  .widget-title {
    @include widget-title();
  }

  //for shortcodes demo
  & > h2:last-child {
    line-height: 1;
  }

  //our custom widgets with bootstrap .media element
  li.media {
    border:none;
    margin: 0 0 30px;
    padding-bottom: 0;
    a.media-image{
      padding-top: 0;
      padding-bottom: 0;
      img{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    + li.media{
      margin-top:0 ;
      border: none;
    }
    img {
      max-width:100px;
    }
    h3, h4 {
      font-weight:500;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom:0.25em;
      letter-spacing: 0;
      text-transform: none;
      font-size: inherit;
      a{
        font-weight: 700;
      }
    }
    p.item-meta {
      line-height: 1.4;
      margin-bottom:0;
      font-size: 14px;
      font-weight: 400;
      color: $colorMain;
      margin-top:4px;
    }
  }

  .page_footer & {
    margin-bottom:0;
    ul{
      line-height: 1;
    }
    .copyright{
      margin-top:1.75em;
    }
    & > h3,
    .widget-title {
      margin-top:0;
      margin-bottom:1.8em;
      color: $lightColor;
      text-transform: uppercase;
      font-size: 18px;
    }
    & > h5,
    .widget-title {
      color: $lightColor;
      text-transform: capitalize;
      font-size: 24px;
    }
    .widget.widget_search .widget-title{
      color: $lightColor;
    }
  }
}

.page_footer {
  .widget li.media img {
    margin-bottom: 0;
    max-width: 60px;
  }
  .widget li.media h3, .widget li.media h4{
    margin-top: 0;
    letter-spacing: 0.5px;
    line-height: 1.3;
  }
  .widget_recent_posts ul li{
    margin: 0 0 18px;
    border-bottom: 1px solid $borderColorRGBA;
    padding-bottom:17px;
    &:last-child{
      border-bottom: none;
    }
  }
  .widget_recent_posts.widget li.media p {
    font-size: 12px;
    margin-top:9px;
    &:before {
      display: none;
    }
  }

}

.page_footer .widget{
  ul{
    list-style: none;
    padding-left: 0;
    li{
      margin-bottom:24px;
    }
  }
}

/* widget Post slider */
.widget_post_slider.vertical-item .item-media + .item-content{
  padding: 0;
  h3.entry-title{
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 26px;
    line-height: 1.3;
    &:before, &:after{
      display: none;
    }
  }
}



/* Recent posts */


/* Blog Info widget */
.widget.widget_bloginfo .social-icons{
  margin-top: 27px;
  display: inline-block;
}


.widget-title.next-image-background {
  position: relative;
  z-index: 2;
  & + img {
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0.5;
  }
  .text-center & + img {
    left: 50%;
    transform: translateX(-50%);
  }
}


.column-sidebar,
aside {
  .widget{
    h3, .widget-title{
      margin-bottom: 1.5em;
    }
    ul{
      li{
        color: $darkColor;
        a{
          padding-top: 12px;
          padding-bottom: 12px;
          color: $darkColor;
          line-height: 24px;
          font-weight: 400;
          &:hover{
            color: $colorMain;
          }

          span{
            color: $darkColor;
          }
        }
        ul li{
          a:before{
            color: $colorMain2;
          }
        }
      }
    }
  }
  .widget.widget_recent_comments{
    a:before{
      display: none;
    }
  }
}

.widget.woocommerce.widget_product_categories .product-categories{
  li a{
    color:$fontColor;
    &:hover{
      color:$colorMain;
    }
  }
}

.column-sidebar, aside {
  .widget.widget_categories, .widget.widget_archive, .widget.widget_meta, .widget.widget_nav_menu, .widget.widget_pages,  .widget.woocommerce.widget_product_categories, .widget.woocommerce.widget_layered_nav, .widget.woocommerce.widget_layered_nav_filters{
    ul li {
      border-top: 1px solid $borderColor;
      &:last-child{
        border-bottom: 1px solid $borderColor;
      }
      a {
        &:before {
          content: '\f0da';
          font-family: 'FontAwesome';
          font-size: 14px;
          color: $colorMain;
          position: relative;
          display: inline-block;
          margin-right: 10px;
        }
      }
      ul li {
        a:before {
          color: $colorMain2;
        }
        &:last-child{
          border-bottom:none;
        }
      }
    }
  }
}

.widget.widget_recent_comments, .widget.widget_recent_entries {
  ul li {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

@media(max-width: 991px) {
  //used in wordpress
  .column-sidebar,
  aside {
    margin: 60px auto;
    max-width: 410px;
  }
  .page_footer.c-gutter-150 .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .page_footer .c-gutter-150 [class*="col-"], .page_footer .row.c-gutter-150 > [class*="col-"]{
    padding-right: 15px;
    padding-left: 15px;
  }


}

@media(max-width: 767px) {
  .column-sidebar {
    margin: 60px auto 0;
  }
  aside > * + * {
    margin-top: 50px;
  }

}
@media(max-width: 575px) {
  blockquote p .name:after {
    letter-spacing: 2.2px;
  }

}


@media(max-width: 480px) {
  //used in wordpress
  .column-sidebar,
  aside {
    margin: 60px auto 0;
    max-width: 410px;
  }
}



/* affix-aside */
.affix-aside {
  position: relative;
  &.affix {
    position: fixed;
    //oriented header height
    top: 100px;
  }
  &.affix-bottom {
    position: absolute !important;
  }
  &.affix-top {
    width: inherit !important;
    left: auto !important;
  }

  @media(max-width: 991px) {
    &,
    &.affix-top,
    &.affix,
    &.affix-bottom {
      position: static !important;
      width: 100% !important;
    }
  }
}

//p.stars removed
.stars {
  & > span {
    display: flex;
  }

  a {
    position: relative;
    width: 1em;
    color: transparent;
    text-indent: -999em;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-indent: 0;
      font-family: 'FontAwesome';
    }
    &:before,
    &:hover ~ a:before {
      color: $fontColor;
      content: "\f006"
    }
  }
  &.selected a.active:before,
  &:hover a:before {
    content: "\f005";
    color: $colorMain;
    opacity: 1;
  }
  &.selected {
    a.active ~ a:before {
      content: "\f005";
      color: $fontColor;
      opacity: .75
    }
    a:not(.active):before {
      content: "\f005";
      color: $colorMain;
      opacity: 1
    }
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size:13px;
  width: 6em;
  letter-spacing: 2px;
  font-family: 'FontAwesome';
  color: $colorMain2;

  &:before {
    content: '\f006\f006\f006\f006\f006';
    float: left;
    top: 0;
    left: 0;
    position: absolute
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &:before {
      content: '\f005\f005\f005\f005\f005';
      top: 0;
      position: absolute;
      left: 0
    }

  }
}
.widget_categories select, .widget_archive select, .widget_product_categories select, .widget.dropdown select, .woocommerce-result-count + form select{
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.widget_categories.dropdown select, .widget.widget_archive .select-wrap select, .widget.widget_categories form select {
  padding: 10px 30px 9px 10px;
}
footer{
  .widget_categories.dropdown select, .widget.widget_archive .select-wrap select, .widget.widget_categories form select {
    padding: 10px 30px 9px 0;
  }
}
.widget_categories.dropdown:after, .widget.widget_archive .select-wrap:after, .widget.widget_categories form:after {
  bottom: 12px;
  color: $darkColor;
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 11px;
  left: auto;
  position: absolute;
  right: 19px;
}

footer .widget_categories.dropdown:after, footer .widget.widget_archive .select-wrap:after, footer .widget.widget_categories form:after{
  color: $colorMain;
}



.widget_categories.dropdown, .woocommerce.widget_product_categories.dropdown, .widget.dropdown, .woocommerce-result-count + form{
  position: relative;
  z-index: 1;
  &:after{
    color:$colorMain2;
    font-size:11px;
    font-family: 'FontAwesome';
    content: '\f078';
    position: absolute;
    right: 19px;
    left: auto;
    bottom: 12px;
  }
  select{
    padding: 10px 30px 9px 20px;
  }
}


.widget.widget_search, .widget.widget_product_search{
  background: $colorMain2;
  background: -moz-linear-gradient(45deg, $colorMain2, $colorMain 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, $colorMain2), color-stop(100%, $colorMain));
  background: -webkit-linear-gradient(45deg, $colorMain2 0%, $colorMain 100%);
  background: -o-linear-gradient(45deg, $colorMain2 0%,$colorMain 100%);
  background: -ms-linear-gradient(45deg, $colorMain2 0%, $colorMain 100%);
  background: linear-gradient(45deg, $colorMain2 0%, $colorMain 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorMain2', endColorstr='$colorMain', GradientType=1 );
  padding:38px 39px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  input[type="search"]{
    height: 50px;
    background: $greyColor;
    border: none;
    padding-left: 19px;
    padding-top: 5px;
    padding-right: 52px;
    color: $fontColor;
    font-family: 'Nunito', sans-serif;
  }
  .widget-title{
    font-size:24px;
    margin-bottom:25px;
    margin-top: 0;
    color: $lightColor;
  }
  .form-group{
    margin-bottom: 0;
  }
  form{
    position: relative;
  }
}
.widget_product_search form:before{
  background: transparent;
}
.page_toplogo, header {
  .widget.widget_search,
  .widget.widget_product_search {
  background: transparent;
    padding: 0;
  }
}
.widget.widget_product_search form label{
  display: none;
}

.ds.page_footer {
  .widget.widget_search .widget-title,
  .widget.widget_product_search .widget-title {
    color: $lightColor;
  }
  b, strong{
    color: $lightColor;
  }
  .widget_tag_cloud a{
    color: $lightColor;
    &:hover{
      color: $darkColor;
    }
  }
}

.page_footer {
  .container-fluid {
    padding-left: 85px;
    padding-right: 85px;
  }
  ul.bottom-includes{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      p.phone_number, p.email_top{
        color: $lightColor;
        font-size: 16px;
        margin-right:0;
        text-transform: none;
        &:before{
          font-size: 14px;
          display: inline-block;
          color:$lightColor;
          margin-right:15px;
        }
        span{
          margin-right: 5px;
        }
        a{
          color: $lightColor;
          margin-right:0;
          &:hover{
            color: $colorMain;
          }
        }
      }
      p.phone_number:before{
        font-family: 'icomoon' !important;
        content: "\e905";
      }
      p.email_top:before{
        content: "\f0e0";
        font-family: FontAwesome;
      }
      a{
        margin-right: 10px;
      }
      + li{
        margin-left:95px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .page_footer .widget ul li {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .page_footer .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@import 'widgets/search_mailchimp';
@import 'widgets/nav_cat_arch_meta_pages';
@import 'widgets/calendar';
@import 'widgets/rss';
@import 'widgets/tag_cloud';
@import 'widgets/flickr';
@import 'widgets/instagram';
@import 'widgets/access_press';
@import 'widgets/twitter';
@import 'widgets/post_slider';
@import 'widgets/post_tabs';
@import 'widgets/post_2cols';
