//Mixins and variables (all except accent colors)
@import 'variables_template';

/*
** Shop
*/
.woocommerce {
  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

//not showing shop title and shop breadcrumbs - we have our own in page_title section
.woocommerce-breadcrumb,
.woocommerce-products-header {
  display: none;
}

//messages
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  margin: 0 0 1.5em;
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-left: 5px solid $colorMain;
  background-color: $universalBackgroundColor;
}

.woocommerce-info {
  border-color: $colorInfo;
}

.woocommerce-error {
  list-style-position: inside;
}

//default filter styles
.woocommerce-result-count {
  display: inline-block;
  margin-bottom: 0;
  padding:16px 0 10px 0;
  float: right;
  & + form {
    display: inline-block;
    margin-bottom: 40px;
    @media(min-width: 576px) {

      float: right;
    }
  }
}

.products-selection{
  .toggle_view{
    a{
      color: $colorMain2;
      margin-right: 10px;
      &:last-child{
        margin-right:0;
      }
    }
    margin-right:45px;
  }
  .woocommerce-ordering{
    display: inline-block;
    position: relative;
    &:after{
      color:$colorMain2;
      font-size: 11px;
      font-family: 'FontAwesome';
      content: '\f078';
      position: absolute;
      right: 19px;
      left: auto;
      bottom: 12px;
    }
    select{
      font-size: 18px;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
    select::-ms-expand {
      display: none;
    }
  }
}


ul.products {

  list-style: none;
  padding: 0;
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  clear: both;

  .product {
    position: relative;
    width: 100%;
    padding: 0 15px;
    text-align: left;
    overflow-y: hidden;
    overflow-x: visible;
    //product thumbnail
    & > a > img {
      width: 100%;
      border-bottom: 1px solid $borderDarkColor;
    }

    //title
    h2 {
      line-height: 1.35;
      font-size:18px;
      letter-spacing: 0;
      margin:1.35em 0 0;
      padding-right:0;
      padding-left:0;
      text-transform: none;
      color: $fontColor;
      font-weight: 400;
    }

    .onsale {
      position: absolute;
      top: 26px;
      font-size: 14px;
      line-height: 1;
      left: 27px;
      padding: 3px 9px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: $lightColor;
      background-color: $colorMain;
      z-index: 2;
      font-weight:700;
    }
    .star-rating {
      margin: -1em auto 0;
      display: none;
    }
    .product-inner{
      margin-bottom:33px;
      margin-top: 15px;
      padding-bottom:0;
      a.button{
        padding:11px 30px;
      }
      img{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }

  //related
  &.owl-carousel {
    margin: 0;
    .product {
      h2 {
        font-size: 20px;
        margin-bottom:0;
        margin-top:2.2em;
      }
      a.button {
        padding:11px 30px;
      }
    }
  }

  .columns-1 & {
    .product {
      width: 100%;
      margin-right: 0;
      .product-inner{
        img{
          width: 40%;
          float: left;
          margin-right: 50px;
        }
        h2{
          padding-top: 25px;
        }
      }
    }
  }

  .columns-2 & {
    .product {
      width: 50%;
    }
  }

  .columns-3 & {
    .product {
      width: 33.333333%;
    }
  }

  .columns-4 & {
    .product {
      width: 25%;
    }
  }

  .columns-5 & {
    .product {
      width: 20%;
    }
  }

  .columns-6 & {
    .product {
      width: 16.666667%;
    }
  }
  @media(max-width: 767px) {
    .product {
      width: 100% !important;
    }
  }

}

ul.products .product:nth-child(even) .onsale{
  background-color: $colorMain2;
}

.price {
  display: block;
  margin:-2px 0 0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  color: $darkColor;
  del {
    color:$fontColor;
    padding-right: 1em;
    font-weight:400;
    .woocommerce-Price-amount.amount span + span{

    }
  }
  ins{
    text-decoration: none;
    .woocommerce-Price-amount.amount span + span{

    }
  }
}


input[type="submit"].woocommerce-Button {
  margin-top: 16px;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  padding: 11px 28px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  background: $colorMain;
  color: $lightColor;
  border: 2px solid $colorMain;
  &:hover {
    background-color: transparent;
    border-color: $colorMain !important;
    color: $colorMain !important;
  }
  .ds & {
    color: $lightColor;
    border-color: $lightColor;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }


  .woocommerce-orders-table__row &,
  .woocommerce-Message &,
  .woocommerce-message & {
    // breaks coupon button in cart
    //td & {
    padding: 7px 16px;
  }
  .woocommerce-Message &,
  .woocommerce-message & {
    float: right;
    margin: -9px 0;
  }

}

.add_to_cart_button {


  //view cart
  & + .wc-forward {
    padding:0 5px;
    @include small-text();
    &:after {
      font-family: 'FontAwesome';
      content: "\f178";
      padding-left: 0.5em;
    }
  }
}


/*shop pagination*/
.woocommerce-pagination {
  text-align: center;
  margin-top:0.8em;
  ul.page-numbers {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }

    span,
    a {
      -webkit-border-radius: 50%!important;
      -moz-border-radius: 50%!important;
      border-radius: 50%!important;
      color: $fontColor;
      background-color: transparent;
      outline:none;
      border: 2px solid $borderDarkColor;
      display: inline-block;
      margin-right:0;
      margin-left: 0;
      font-size: 14px;
      padding: 10px 19px;
      min-width: 2.55em;
      text-align: center;
      line-height: inherit;
      &:hover {
        border-color: $colorMain!important;
        outline-color:$colorMain!important;
        color: $lightColor!important;
        background: $colorMain!important;
      }
    }
    span {
      border-color: $colorMain!important;
      outline-color:$colorMain!important;
      color:$lightColor!important;
      background: $colorMain!important;
      cursor: not-allowed;
    }
  }
}

.woocommerce-pagination ul.page-numbers a.next.page-numbers{
  padding: 10px 16px;
}


/* shop-home */

.shop-home {
  ul.products .product {
    h2{
      font-size: 24px;
      margin-bottom: 1.3em;
      margin-top: 1.8em;
    }
    .product-inner img {
      width: 380px;
    }
    a.button {
      margin-bottom: 50px;
      padding: 20px 55px;
    }
  }
}

/*single product*/
.product {

  .images {
    //for flexslider
    .flex-direction-nav {
      display: none;
    }
    position: relative;
    margin-bottom: 4em;
    figure {
      max-width: none;
    }

    @media(min-width: 576px) {
      width: 47%;
      float: left;
    }
    figure > div a img{
      margin-bottom:2px;
      margin-top: 0;
    }
    .flex-control-thumbs img{

    }
  }
  .summary {
    position: relative;
    margin-bottom: 4em;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    @media(min-width: 576px) {
      width: 47%;
      float: right;
    }
    .entry-title {
      font-size: 36px;
      line-height: 25px;
      margin-bottom:20px;
      padding-bottom: 0;
      clear: both;
      margin-top: 45px;
      &:after, &:before{
        display: none;
      }
    }
    .woocommerce-product-rating {
      line-height: 1;
      position: relative;
      margin-bottom:0;
      float: left;
    }
    .star-rating {
      position: relative;
      right: 0;
      margin-bottom: 0;
      display: inline-block;
    }
    .woocommerce-review-link {
      //stars width
      display: inline-block;
      margin-right: 90px;
    }

    .variations {
      margin:1.2em 0 0;
      &:before{
        content: '';
        position: relative;
        display: block;
        border-top: 1px solid $borderDarkColor;
        margin-bottom:26px;
      }
      &:after{
        border-bottom: 1px solid $borderDarkColor;
        content: '';
        display: block;
        position: relative;
        margin-top:29px;
      }
      tr {
        display: block;
        margin-bottom:0;
        border: none;
        width: 50%;
        float: left;
        &:first-child{
          .select-wrap {
            padding-right: 15px;
            &:after{
              right:30px;
            }
          }
        }
      }
      td {
        display: block;
        padding: 0;
        .select-wrap{
          position: relative;
          &:after{
            color:$colorMain2;
            font-size: 11px;
            font-family: 'FontAwesome';
            content: '\f078';
            position: absolute;
            right:15px;
            left: auto;
            bottom: auto;
            top: 18px;
          }
        }
        select {
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
        }
        select::-ms-expand {
          display: none;
        }

      }
      label {
        //margin-bottom: 0.25em;
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .reset_variations {
        font-size: 0;
        &:before {
          font-size: 16px;
          padding: 0.5em;
          display: inline-block;
          font-family: 'FontAwesome';
          content: "\f05e";
        }
      }
      + div {
        border-bottom: 1px solid $borderDarkColor;
        padding: 1.35em 0;
        .wishlist{
          display: inline-block;
          margin-right: 40px;
          i{
            color: $colorMain2;
            margin-right: 10px;
            font-size: 14px;
          }
          span{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
          }
        }
        .shared{
          display: inline-block;
          span{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
          }
          a.fa{
            color: $colorMain2;
            margin-left: 0;
          }
        }
      }

    }

    form{
      margin-top: 30px;
    }

    .quantity {
      display: inline-block;
      [type='number'] {
        padding-right: 0;
        max-width: 4.5em;
        height: 3.6em;
        position: relative;
        top: -1px;
        -moz-appearance:textfield;
      }
      //add to cart button
      & + button {
        top: -2px;
        position: relative;
      }
    }
    //categories etc
    .product_meta {
      margin-top:1.35em;
      & > span {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        + span{
          margin-top:6px;
        }
      }
      a {
       color: $fontColor;
      }
    }

  }

  .summary {
    .price {
      color: $colorMain2;
      margin-right: auto;
      margin-top:0;
      font-size: 18px;
      margin-bottom: 10px;
      opacity: 1;
      font-weight: 700;
      float: right;
    }
    form {

      .button {
        margin-top: 0;
        padding: 11px 41px;
      }
    }
    .single_variation_wrap {
      margin-top:0;

    }
    .quantity {
      display: inline-block;
      position: relative;
      margin-right: 30px;
      + button {
        position: relative;
        display: inline-block;
        top:0;
        width: auto;
        font-size: 18px;
        padding: 15px 40px;
      }
      [type='number'] {
        background-color: $backgroundColor;
        border: none;
        color: $darkColor;
        line-height: 60px;
        max-width: 5em;
        height:2.9em;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        font-size: 18px;
      }
    }
  }

}




.product .summary .variations .select-wrap:after{
  top:17px;
}

.shop_table .quantity{
  display: inline-block;
  position: relative;
}
.product .summary .quantity [type="button"], .shop_table .quantity [type='button'] {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  color: transparent;
  border: none;
  width: 22px;
  height: 10px;
  background-color: transparent;
  z-index: 2;
  margin-top:-10px;
}
.product .summary .quantity [type="button"].minus, .shop_table .quantity [type='button'].minus {
  left: auto;
  right: 5px;
  margin-top:5px;
}
.product .summary .quantity i, .shop_table .quantity i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  width: 22px;
  text-align: center;
  line-height: 10px;
  color: $colorMain2;
  display: inline-block;
  z-index: 1;
  margin-top:-10px;

}
.product .summary .quantity [type="button"].minus + i, .shop_table .quantity [type='button'].minus + i {
  left: auto;
  right: 5px;
  margin-top:5px;
}




.product .summary .quantity [type='number']::-webkit-inner-spin-button,
.product .summary .quantity [type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*shop tabs*/
.woocommerce-tabs {
  clear: both;
  margin: 4em 0;

  ul.tabs {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    li + li {
      border-top: none;
    }
    li {
      display: block;
      position: relative;
      top:0;
      &.active {
        &:after {
          opacity: 1;
          right: 0.4em;
        }
        a {
          color: $lightColor;
          background-color: $colorMain;
          border-color: $colorMain;
        }
      }
      a {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding:29px 80px;
        border-radius: 5px 5px 0 0;
        display: block;
        background: $backgroundColor;
        color: $fontColor;
        margin-right:1px;
        margin-bottom: 2px;
        &:hover{
          background: $colorMain;
          color: $lightColor;
        }
      }
    }
  }

  .panel {
    border:none;
    margin-top:0;
    padding:53px;
    background-color: $greyColor;
    border-radius: 0 5px 5px 5px;
    border-top: 4px solid $colorMain;
    h2 {
      @include widget-title();
    }
    .commentlist{
      .star-rating{
        color: $colorMain;
        font-size: 18px;
      }
      .comment_container {
        padding-left:83px;
        > img {
          width: 90px;
          height: 90px;
          max-width: 90px
        }
        .meta{
          margin-bottom: 0;
          strong{
            font-size: 18px;
            + span{
              display: none;
            }
          }
          time{
            display: block;
            font-size: 14px;
            font-weight: 700;
            color: $fontColor;
            padding-bottom: 0;
          }
        }
      }
     }
    .comment-form-rating{
      width: 100%;
    }
    .comment-reply-title{
      margin-bottom: 5px;
    }





  }

  @media(min-width: 768px) {
    ul.tabs {
      display: flex;
      li {
        a {
          margin-bottom: 0;
        }
      }
    }
  }
  .shop_attributes {
    //no borders on this table - top padding and margin not needed
    margin-top: 0;
    tr {
      td, th {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    th {
      padding-left: 0;
      &:after {
        content: ':';
      }
    }
  }
}

/*reviews*/
.commentlist {
  padding: 0;
  list-style: none;
}

ol.commentlist li:before{
  display: none;
}


//same as .comment-body in _blog.scss
.comment_container {
  position: relative;
  padding:0 30px 20px 15px;
  margin-bottom: 30px;
  //avatar width
  margin-left: 50px;
  //avatar
  & > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 50px;
    position: absolute;
    //1 - border width
    top: -1px;
    left: -50px;
  }
  .meta {
    @include small-text();
    line-height: 1.3;
    //rating width;
    margin-right: 90px;
    margin-bottom: 0.5em;
    color: $darkColor;
    strong {
      font-weight: inherit;
    }
  }
  .star-rating {
    float: right;
  }
}

//reply
#tab-reviews {
  .comment-respond {
    border: none;
    padding: 0;
  }
}
.comment-form-rating{
  label{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p{
    width: auto;
    display: inline-block;
    top: 3px;
    margin-left: 15px;
  }
  .stars a {
    font-size: 14px;
  }
  .stars a:before, .stars a:hover ~ a:before{
    content: "\f005";
  }
}
#reviews {
  label[for] {
    display: none;
  }
}

.comment-reply-title {
  display: block;
  @include widget-title();
  margin-bottom: 1.5em;
  text-transform: capitalize;
  color: $darkColor;
}

.related,
.upsells,
.cross-sells {
  margin-top: 4em;

  & > h2 {
   text-align: left;
    font-size:30px;
    font-weight: 700;
    color: $darkColor;
    margin-top:74px!important;
    padding-bottom:17px;
    margin-bottom: 0;

  }
  ul.products {
    margin: 0;
    .product {
      padding:0;
      margin:15px 0;
      .product-inner{
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        .onsale{
          top: 15px;
          left:15px;
        }
      }
      .onsale {
        &:before{
          display: none;
        }
      }
    }
  }
  .owl-nav {
    top: -30px;
    left: auto;
    right: -20px;
    > div i {
      background-color: transparent;
      border: none;
      color: $darkColor;
      font-size: 13px;
    }
  }
}

section.related.products h2 span{
  color: $colorMain;
}

@media (max-width: 1199px) {
  .product .summary .variations tr:first-child .select-wrap {
    padding-right: 0;
  }
  .product .summary .variations tr:first-child .select-wrap:after{
    right:15px;
  }
}

@media (max-width: 575px) {
  .comment_container .star-rating {
    float: none;
  }
}
@media (max-width: 479px) {
  .woocommerce-Message .button, .woocommerce-message .button {
    margin: 3px 0 0;
  }
  .related > h2, .upsells > h2, .cross-sells > h2 {
    font-size:28px;
  }
  .related > h2, .upsells > h2, .cross-sells > h2 {
    margin-top: 50px !important;
    padding-bottom: 20px;
  }
  .related > h2, .upsells > h2, .cross-sells > h2 {
    font-size:20px;
  }
  .woocommerce-tabs .panel .commentlist .comment_container {
    padding-left: 50px;
  }
}

/*shop widgets*/

.widget_shopping_cart .remove:before {
  font-size: 19px;
  content: "x";
  color:$darkColor;
}
.widget_shopping_cart_content .woocommerce-mini-cart{
  .woocommerce-mini-cart-item{
   a{
     font-size: 18px;
     line-height: 1;
     padding-bottom: 0;
     img{
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       border-radius:15px;
     }
   }
    .remove{
      &:before {
        font-size: 16px;
      }
      top: 0;
    }
  }
}
.widget_shopping_cart .widget_shopping_cart_content .quantity{
  color: $fontColor;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: -20px;
  .amount.woocommerce-Price-amount{
    color: $fontColor;
    font-size: 14px;
    font-weight: 700;
  }
}

.widget_shopping_cart,
.widget_products,
.widget_recently_viewed_products,
.widget_recent_reviews,
.widget_top_rated_products {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        border: none!important;
        position: relative;
        padding-left: 100px;
        padding-right: 10px;
        //image width
        min-height: 100px;
        margin-bottom:20px;
        width: 100%;

        a {
          padding: 0!important;
          & > img {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 80px;
          }
        }

      }
    }
    .product-title {
      display: block;
      font-size: 16px;
      line-height: 1.2;
      font-family: 'Nunito', sans-serif;
    }
    .star-rating{
      margin:7px 0 8px;
    }
    del,
    ins,
    .amount {
      font-weight: 400;
      color: $colorMain;
      text-decoration-color: $colorMain;
    }
    del {
      opacity:1;
      padding-right: 1em;
      color:$fontColor;
      font-weight: 300;
      text-decoration:line-through;
      span.woocommerce-Price-amount{
        color:$fontColor;
        font-weight: 300;
        text-decoration:line-through;
      }
    }
}



.widget_shopping_cart ul li .minicart-product-meta a{
  display: block;
  font-family: "Anton", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
  width: 100%;
  margin-top: -20px;
  color: $darkColor;
  &:hover{
    color: $colorMain;
  }
}

.widget_top_rated_products ul li{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.widget_shopping_cart .amount.woocommerce-Price-amount{
  color: $darkColor;
  font-weight: 700;
}
.widget .woocommerce-Price-amount {
  color: $darkColor;
  font-weight:500;
  display: inline-block;
  margin-top: 1px;
}
footer .widget .woocommerce-Price-amount {
  color: $lightColor;
}


//same as .product-title in other widgets
.widget_recent_reviews a {
  font-size: 18px;
  font-weight: 400;
}


//price slider
.widget_price_filter {
  .price_slider {
    margin-bottom:14px;
  }

  .price_slider_amount {
    margin-top:0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 4px;
    color: $darkColor;

    .button {
      float: left;
      padding:16px 50px;
      color: $lightColor;
      margin-top: 11px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    cursor: ew-resize;
    outline: none;
    background: $colorMain;
    box-sizing: border-box;
    margin-top:-3px;
    opacity: 1;
    border-radius: 50%;

    &:last-child {
      margin-left:0;
    }

    &:hover,
    &.ui-state-active {
      box-shadow: 0 0 0 .236em rgba(#000, 0.1);
    }
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: $colorMain;
  }

  .price_slider_wrapper .ui-widget-content {
    background:$backgroundLightColor;
  }

  .ui-slider-horizontal {
    height:4px;
  }

  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }

  .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
  }

  .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
  }
}

.widget_shopping_cart {
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 30px;
    //product name and image
    a + a {
      width: 100%;
      display: block;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 300;
      font-family: 'Nunito', sans-serif;
    }
  }
  .remove {
    position: absolute;
    color: $colorMain;
    margin-left: 6px;
    order: 3;
    line-height: 0.75;
    right: 0;
    top: 5px;
    font-size: 0;
  }
  .total {
    font-weight: 700;
    color: $darkColor;
    margin:1.15em 0 1.3em;
    padding-top: 3px;
    strong {
      font-weight: inherit;
    }
  }

  .quantity {
    font-weight: 300;
    //font-size: 20px;
    color: $colorMain;
  }

  .button {
    padding:16px 45px;
    border-color: $colorMain;
    + .button{
      margin-left:0;
    }
  }

  .buttons a {
    font-size: 18px;
    font-weight: 600;
    &:hover{
      background-color: $colorMain;
    }
    &:first-child {
      border-color: $colorMain;
      color: $colorMain;
      background-color: transparent;
      &:hover {
        background-color:$colorMain;
        color: $lightColor !important;
      }
    }
  }

  .buttons a.checkout {
    color: $darkColor!important;
    background: transparent;
    border-color: $borderColor;
    margin-top: 10px;
    &:hover{
      background-color: $colorMain;
      color: $lightColor !important;
    }
    &:first-child {
      background-color: $colorMain;
      &:hover {
        background-color:$lightColor;
        color: $lightColor !important;
      }
    }
  }

  .dropdown & {
    white-space: normal;

    .total {
      font-size:16px;
      letter-spacing: 0;
      margin: 30px -40px;
      padding: 0 40px;
    }
    .buttons {
      white-space: nowrap;
    }
  }
}



//same as _nav_cat_arch_meta_pages
.woocommerce-MyAccount-navigation,
.widget_layered_nav,
.widget_layered_nav_filters,
.widget_product_categories {
  ul {
    padding: 0;
    list-style: none;
    width: 100%;
    ul {
      li {
        padding-left: 20px;
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > a {
      flex-grow: 10;
      display: inline-block;
    }
    &:before {

    }
    &.is-active {
      font-weight: 700;
    }
  }
  li + li {
    border-top: none;
  }
}

/*shopping cart*/
.shop_table {
  margin-top: 0;
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
  .amount {
    font-weight: 700;
  }
  th {
    @include small-text();
    border-bottom: 1px solid $borderColor;
    vertical-align: bottom;
  }
  .remove {
    font-size: 2em;
  }
  .product-thumbnail {
    img {
      max-width: 70px;
    }
  }
  .quantity {
    [type='number'] {
      height: 40px;
      padding-right: 0;
      max-width: 4.5em;
      -moz-appearance:textfield;
    }
  }
  .actions {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: right;
  }
  .coupon {
    float: left;
    label {
      display: none;
    }
    [type="text"] {
      width: auto;
      height: 50px;
      position: relative;
      top: -2px;
    }
    [type="submit"] {
      position: relative;
      top: -3px;
    }
  }
  @media(max-width: 991px) {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  }
}

.shop_table .cart_item td{
  vertical-align: middle;
}


@media(max-width: 1199px) {
  ul.products.owl-carousel .product h2 {
    font-size: 20px;
  }
  .woocommerce-tabs ul.tabs li a {
    padding: 15px 25px;
  }

}

@media(max-width: 767px) {
  .shop_table .coupon {
    float: none;
  }
}

header .cart-dropdown .dropdown-toggle {
  .cart-count{
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: $darkColor;
    font-size: 8px;
    left: 8px;
    top: 1px;
    padding: 2px 4px;
  }
  &:after {
    display: none;
  }
}

.shop_table .quantity [type='number']::-webkit-inner-spin-button,
.shop_table .quantity [type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-collaterals {
  clear: both;
  margin-top: 3em;
  display: flex;
  flex-direction: column;


  h2 {
    letter-spacing: 0;
  }
  .cart_totals {
    order: -1;
  }
  .wc-proceed-to-checkout {
    margin-top: 3em;
  }
}

/*shop checkout*/
//col2-set is used on cart and account addresses edit page
.woocommerce-billing-fields,
.checkout {
  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.woocommerce-NoticeGroup {
  margin-bottom: 30px;
}

.col2-set {
  //margin: 0 -15px;
  .col-1,
  .col-2 {
    max-width: none;
    clear: both;
    padding: 0 !important;
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }
  @media(min-width: 992px) {
    & {
      &#customer_details {
        flex-direction: column;
        width: 64%;
        float: left;
      }
    }

    & ~ #order_review_heading,
    & ~ #order_review {
      float: right;
      width: 32%;
      margin-top: 0;
    }
  }
}

td.product-name {
  width: 700px;
}

#payment {
  ul {
    margin: 1em 0;
    list-style: none;
    padding-left: 0;
  }
  [type="radio"] {
    opacity: 0;
    margin-left: -10px;
  }
  label {
    margin-bottom: 0;
  }
}
.woocommerce-checkout-payment{
  label{
    display: inline-block;
  }
}
.wc_payment_method .payment_box {
  margin-top: 0.8em;
  padding: 0.8em 1em;
  background-color: $universalBackgroundColor;
}

//div.form-row is used in bootstrap 4 forms - overriding with P tag
.place-order.form-row {
  display: block;
  margin: 2em 0;
}

p.form-row {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
  label {
    margin-bottom: 10px;
    display: block;
  }
  @media(min-width: 992px) {
    &.form-row-first {
      width: 50%;
      float: left;
      padding-right: 15px;
    }
    &.form-row-last {
      width: 50%;
      float: left;
      padding-left: 15px;
    }
  }
  &.notes,
  &.form-row-wide {
    width: 100%;
    clear: both;
  }
}
p.form-row label.woocommerce-form__label-for-checkbox{
  font-size: 18px;
}

//js hide and show forms
.woocommerce-info {
  & + .checkout_coupon,
  & + .login {
    display: none;
    //this not need in WP?
    width: 100% !important;
  }
}

.lost_reset_password {
  p.form-row.form-row-first {
    margin-right: 0;
    width: 100%;
  }
}

.lost_reset_password,
form.login {
  @media(min-width: 992px) {
    width: 50%;
    margin: auto;
  }
  .button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*shop account subpages*/
.woocommerce-MyAccount-navigation {
  margin-bottom: 2em;
}

@media(min-width: 768px) {
  .woocommerce-MyAccount-navigation {
    padding-left: 60px;
    float: right;
    width: 30%
  }
  .woocommerce-MyAccount-content {
    float: left;
    width: 70%
  }
}

/*
woocommerce checkout
*/

.woocommerce-checkout{
  .woocommerce-additional-fields{
    margin-top: 15px;
  }
}

  /*
  order details
  */

.woocommerce-order-details {
  margin-top: 2.5em;
}

.woocommerce-customer-details {
  margin-top: 3.5em;

  h3 {
    margin-top: 1em;
  }
}

ul.wc-item-downloads {
  margin: 0.5em 0;
}

.order-again {
  margin-top: 2em;
}

.products.columns-2 .product {
  width: 50%;
}
.products.columns-3 .product {
  width: 33.333333%;
}
@media (max-width: 1440px) {
  ul.products.owl-carousel .product h2 {
    font-size: 18px;
  }
  .woocommerce-tabs ul.tabs li a {
    padding: 29px 75px;
  }
}
@media (max-width: 1199px) and (min-width: 576px) {
  .products.columns-3 .product {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .products.columns-3 .product {
    width: 100%;
  }
  .products-selection{
    padding-left:15px;
  }
}
.products.columns-4 {
  margin: 0 -10px;
}
.products.columns-4 .product {
  width: 25%;
  padding: 0 10px;
}
@media (max-width: 1200px) and (min-width: 576px) {
  .products.columns-4 .product {
    width: 50%;
    padding: 0 20px;
  }
}
@media (max-width: 575px) {
  .products.columns-4 .product {
    width: 100%;
    padding: 0 20px;
  }
}
.products.columns-5 {
  margin: 0 -5px;
}
.products.columns-5 .product {
  width: 20%;
  padding: 0 5px;
}
.products.columns-5 .product .button, .products.columns-5 .product [type="submit"] {
  min-width: 125px;
  top: -150px;
  padding: 15px 20px;
}
.products.columns-5 .product:hover .button, .products.columns-5 .product:hover [type="submit"] {
  top: 25%;
}


.single.single-product .products.columns-4 .product,
.single.single-product .products.columns-2 .product,
.single.single-product .products.columns-5 .product,
.single.single-product .products.columns-3 .product{
  width: 100%;
}


@media (max-width: 1200px) and (min-width: 576px) {
  .products.columns-5 .product {
    width: 50%;
    padding: 0 20px;
  }
}
@media (max-width: 575px) {
  .products.columns-5 .product {
    width: 100%;
    padding: 0 20px;
  }
}
.products.columns-6 .product {
  width: 16.666667%;
}
@media (max-width: 400px) {
  .products .product {
    width: 100% !important;
  }
}
@media (max-width: 1199px) {
  .add_to_cart_button + .wc-forward {
    padding: 15px 1em 0;
    display: block;
  }
  .product .summary .woocommerce-review-link {
    margin-right: 70px;
  }
  .product .summary .entry-title {
    letter-spacing: 1px;
  }
  .product .summary .price {
    margin-right:30px;
  }
  .product .summary .variations tr {
    width: 100%;
    + tr{
      margin-top: 15px;
    }
  }
  .product .summary .quantity {
    margin-right: 15px;
  }
  .woocommerce-tabs ul.tabs li a {
    padding: 20px 40px;
  }
  .woocommerce-tabs .panel {
    padding: 30px;
  }
  .woocommerce-tabs .panel h2 {
    margin-bottom: 15px;
  }
  .product .summary .variations + div .shared {
    margin-top: 15px;
  }

}
@media (max-width: 991px) {
  .shop-home ul.products .product h2 {
    font-size: 20px;
  }
  .shop-home ul.products .product a.button {
    margin-bottom: 30px;
    padding: 15px 35px;
  }
  .product .summary .price {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .product .summary .price {
    margin-right: 0;
  }
  .woocommerce-tabs ul.tabs li a{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .woocommerce-result-count {
    float: left;
  }
  .product .images, .product .summary {
    width:100%;
    float: left;
  }


}
@media (max-width: 575px) {
  ul.products {
    margin: 0;
  }
}
@media (max-width: 479px) {
  .widget_shopping_cart .buttons a{
    display: block;
    text-align: center;
  }
  .widget_shopping_cart .buttons a:first-child{
    margin-bottom: 10px;
  }
  .dropdown-shopping-cart + .dropdown-menu {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 5px;
  }

  ul.products .product h2 {
    margin:1em 0 0;
  }
  ul.products .product .product-inner {
    margin-bottom: 20px;
  }
  .product .summary.entry-summary .price del {
    display: block;
  }
  .shop_table .coupon [type="submit"] {
    top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .products-selection .woocommerce-ordering select{
    padding-left: 0;
  }
}