//color schemes
//1
$styleNumber: '';
$colorMain: #42b7e2 !default;
$colorMain2: #8d66b4 !default;
$colorMain3: #ae419a !default;
$colorMain4: #7238a0 !default;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;