//color schemes
//2
$styleNumber: '2';
$colorMain: #8d66b4;
$colorMain2: #ae419a;
$colorMain3: #42b7e2;
$colorMain4: #7238a0;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;