/*
** 404
*/

.error-404 {
  background-image: url("../images/404_bg.jpg");
  background-size: cover;

    h3{
      font-size: 300px;
      font-weight: 700;
      margin-bottom: 0;
      line-height:0.8;
      margin-top: 0;
    }
    p{
      font-size: 54px;
      font-weight: 700;
      line-height: 1;
    }
    span{
      font-size: 24px;
      font-weight:400;
    }

    .btn{
    padding:20px 40px;
  }
  .widget_search {
    width:570px;
    background:transparent;
    position: relative;
    left: 50%;
    padding:15px 0 18px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    input{
      max-width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    button:before{
      color: $colorMain;
    }
  }
  .page-content {
   margin-top:1.65em;
   p{
     margin-top:44px;
   }
  }


}



@media (max-width: 1440px) {
  .error-404 .page-content {
    margin-top: 2em;
  }
  .error-404 .page-header h1, .error-404 .page-header h2{
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .error-404 .page-header h1, .error-404 .page-header h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .error-404 h3{
    font-size: 200px;
  }
}
@media (max-width: 575px) {
  .error-404 .widget_search {
    width: 300px;
  }
}
@media (max-width: 479px) {
  .error-404 .page-header h3 {
    font-size: 150px;
  }
  .error-404 .page-header h6 {
    font-size: 35px;
  }
  .error-404 .page-content a + a {
    margin-left:0;
    margin-top: 15px;
  }
}



