/*
** Dark Section background and Dark Muted background sections - .ds and .ds.ms
*/
/* dark grey background section - .ds */
.ds {
  background-color: $darkColor;
  color: $darkFontColor;
  & * & {
    background-color: darken($darkColor, 5%);

  }

  .widget_rss .rss-date{
    color: $colorMain;
  }

  .fw-divider-special .special:before, .fw-divider-special-center .special:before{
    background-color: $lightColor;
    opacity: 0.1;
  }
  .fw-divider-special .special:after, .fw-divider-special-center .special:after{
    background-color: $lightColor;
  }


  .special-heading .above, .special-heading .after{
    color: $lightColor;
  }
  .intro_layers_wrapper .intro_layers .fw-divider-special .special:before,
  .intro_layers_wrapper .intro_layers .fw-divider-special-center .special:before,
  .intro_layers_wrapper .intro_layers .fw-divider-special-right .special:before{
    background: $lightColor;
    opacity: 0.1;
  }
  .intro_layers_wrapper .intro_layers .fw-divider-special .special:after,
  .intro_layers_wrapper .intro_layers .fw-divider-special-center .special:after,
  .intro_layers_wrapper .intro_layers .fw-divider-special-right .special:after{
    background: $lightColor;
  }
  .icon-box.text-center{
    .icon-styled i {
      background-color: $lightColor;
      -webkit-text-fill-color: $lightColor;
      color: $lightColor;
    }
    h5{
      color: $darkColor;
      a{
        color: $darkColor;
        &:hover{
          color: $colorMain;
        }
      }
    }
    p{
      color: $darkColor;
      opacity: 0.7;
    }
  }
  .icon-box.text-center.bordered .icon-styled i{
    background-color: $colorMain3;
    -webkit-text-fill-color: $colorMain3;
    color: $colorMain3;
  }
  .col-md-4 .icon-box.bordered .icon-styled i{
    background-color: $colorMain3;
    -webkit-text-fill-color: $colorMain3;
    color: $colorMain3;
  }
  .icon-box.bordered{
    border-color:$borderColorRGBA;
    background: $lightColor;
  }
  .btn.btn-outline-secondary{
    color: $lightColor;
    border-color:$backgroundLightColor;
    border-width: 2px;
    &:hover{
      color:$lightColor;
      border-color:$colorMain;
      background: $colorMain;
    }
  }

}

form.ds{
  padding: 55px 75px;
}

/* dark background section - .ds.ms */
.ds.ms {
  background-color: $backgrounddarkgreyColorFooter;
  p{
    color: $lightColor;
    .copyright_year{
      font-size: 16px;
    }
  }

  & & {
    background-color: lighten($darkColor, 2%);
  }
}

/* dark section blue - .ds.bs */
.ds.bs {
  background-color: $darkBlueColorLighter;

}

.ds {
  a:not(.btn) {
    color:$fontColor;
    &:hover {
      color:$colorMain;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $lightColor;
    a {
      color: $lightColor;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  //light section in dark section - .ds .ls
  .ls {
    background-color: $lightColor;
    color: $fontColor;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkColor;
      a {
        color: inherit;
        &:hover {
          color: $colorMain;
        }
      }
    }
    a:not(.btn) {
      color: $darkColor;
      &:hover {
        color: $colorMain;
      }
    }
  }
  //end of .ls inside .ds

  label {
    color: $lightColor;
  }

  hr {
    border-color: $darkBorderColor;
    background-color: $darkBorderColor;
  }
  blockquote, .blockquote {
    color: $lightColor;
  }

  pre {
    color: $darkFontColor;
  }

  .muted-bg,
  .hero-bg {
    background-color: $darkBackgroundColor;
  }

  .bordered {
    border-color: $darkBorderColor;
  }
  .color-main {
    color: $colorMain;
  }
  .color-main2 {
    color: $colorMain2;
  }
  .color-dark,
  .color-darkgrey {
    color: $lightColor;
    border-color: $lightColor;
  }

  .links-maincolor a {
    color: $colorMain;
    &:hover {
      color: $lightColor;
    }
  }
  .links-maincolor2 a {
    color: $colorMain2;
    &:hover {
      color: $lightColor;
    }
  }
  .links-maincolor3 a {
    color: $colorMain3;
    &:hover {
      color: $lightColor;
    }
  }

  .links-grey a {
    color: $darkFontColor;
    &:hover {
      color: $lightColor;
    }
  }

  .links-darkgrey a {
    color: $lightColor;
    &:hover {
      color: $colorMain;
    }
  }
  //sections with borders
  &.s-bordertop:before,
  &.s-borderbottom:after,
  &.s-bordertop-container .container:before,
  &.s-borderbottom-container .container:after {
    background-color: $darkBorderColor;

  }
  &.s-bordered-columns {
    [class*='col-'] + [class*='col-']:before {
      background-color: $darkBorderColor;
    }
  }

  //buttons
  .btn-darkgrey {
    background-color: $lightColor;
    color: $darkColor;
  }

  .btn-maincolor:hover,
  .btn-maincolor2:hover,
  .btn-maincolor3:hover,
  .btn-darkgrey:hover,
  .btn-outline-maincolor:hover,
  .btn-outline-maincolor2:hover,
  .btn-outline-maincolor3:hover,
  .btn-outline-darkgrey:hover {
    color: $lightColor;
  }
  .btn-outline-maincolor:hover,
  .btn-maincolor:hover {
    background-color: transparent;
    border-color: $lightColor;
  }
  .btn-outline-maincolor2:hover,
  .btn-maincolor2:hover {
    background-color: darken($colorMain2, 10%);
  }
  .btn-outline-maincolor3:hover,
  .btn-maincolor3:hover {
    background-color: darken($colorMain3, 10%);
  }
  .btn-outline-darkgrey {
    color: $lightColor;
    border-color: $lightColor;
  }


  .btn-outline-darkgrey:hover,
  .btn-darkgrey:hover {
    background-color: $colorMain;
    border-color:$colorMain;
  }
  .btn-outline-maincolor, .btn-outline-maincolor2, .btn-outline-maincolor3{
    color: $lightColor;
  }
  .btn-link{
    color: $colorMain;
    &:before{
      background:$colorMain;
    }
    &:hover{
      color: $lightColor;
      &:before{
        background:$lightColor;
      }
    }
  }


  //social icons
  a.fa, a.fab {
    color: $colorMain;
    border-color: $darkBorderColor;
  }
  a.bg-icon {
    background-color: $darkBackgroundColor;
  }

  .fa.color-icon:hover {
    color: $lightColor;
  }

  .color-icon.bg-icon {
    background-color: $darkBackgroundColor;
  }
  .color-icon.bg-icon:hover {
    color: $lightColor;
  }

  .color-bg-icon:hover {
    background-color: $colorMain;
  }

  @media (min-width: 1200px) {
    .sf-menu > li > a.sf-with-ul:after {
      color: $lightColor;
    }
    .sf-menu > li > a:hover:after, .sf-menu > li.active > a:after {
      color: $colorMain;
    }

  }

  .ls .color-main{
    color: $colorMain;
  }

  .ls{
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    textarea, select, .form-control{
      border-color:$borderColor ;
    }
  }
  .ls .btn-maincolor:hover {
    border-color: $colorMain;
    background-color: transparent;
    color: $colorMain;
  }

}
.ds.page_copyright{
  background-color: $backgroundcopyrightColor;
}
@media (max-width: 1199px) {
  form.ds {
    padding: 20px;
  }
}