/*
** Icon Box
*/
//styled icon
//used in icon box and inline icon
.icon-styled {
  text-align: center;
  display: inline-block;

  //icon style
  i {

  }

  //bordered icon, button icon and icon with background
  &[class*='bg-'],
  &[class*='btn-'],
  &.bordered,
  &.icon-bordered.bordered {
    width: 3em;
    height: 3em;
    line-height: 1;
    box-sizing: content-box;
    .text-center & {
      margin-left: auto;
      margin-right: auto;
    }

    i {
      line-height:3em;
    }


    & + p {
      margin-top: 12px;
    }
  }

  &.icon-bordered:not([class*="color-"]) {
    border-color: $borderColor;
  }

  &[class*='bg-'] {
    border-color: transparent;
  }
  &.icon-top {
    align-self: flex-start;
    line-height: inherit;
  }

  //side icon box
  //styled icon in .media and in icon-inline component
  .media > &:first-child {
    flex-shrink: 0;
  }
  .media > &:last-child {
    flex-shrink: 0;
  }

  .icon-inline > &:first-child {
    flex-shrink: 0;
    margin-right:8px;
  }
  .icon-inline > &:last-child {
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.media.style2 .icon-styled {
  + .media-body {
    margin-left: 40px;
    h6 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 19px;
    }
  }
}


.icon-styled.icon-bordered{
  height: 2em;
  width: 2em;
  line-height: 2em;
}

//inline styled icon
.icon-inline {
  font-family: 'Nunito', sans-serif!important;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  .text-center & {
    justify-content: center;
  }

  & > * {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 4px;
  }
}

//styled icon in box
.icon-box {
  display: inline-block;
  font-family: 'Nunito', sans-serif!important;
  //padding for icon box with borders and background
  &.ls,
  &.ds,
  &.cs,
  &.bordered,
  &.hero-bg,
  &.muted-bg,
  &.box-shadow {
    padding:50px 20px 42px;
  }

  //icon boxes in bordered columns
  .c-bordered & {
    padding: 70px 30px 30px;
    //if P element is a last child - adding bottom margin
    p:last-child {
      margin-bottom: 20px;
    }
  }
  //featured box in bordered columns
  @media (min-width:768px) {
    &.featured-box {
      position: relative;
      z-index: 2;
      margin: -6px -10px;
      //padding top and padding bottom more on negative top and bottom margins 70+6,
      //12px - 6 top and 6 bottom
      height: calc(100% + 12px);
      padding-top: 76px;
      padding-bottom: 36px;
    }
  }

  //icon
  .icon-styled {

    //bordered icon and icon with background
    &[class*='bg-'],
    &.icon-bordered {
      margin-bottom:14px;
    }

    & + h2,
    & + h3,
    & + h4 {
      margin-top: 1.6em;
    }
    //for counter teaser with counter h3 tag below p description
    & + p.small-text {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.2em;
      margin: 0.74em 0;
    }
    h6{
      margin-top: 0.8em;
      margin-bottom: 0.65em;
    }

  i{
    display: inline-block;
    vertical-align: bottom;

  }
  h4{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    margin:0 0 10px 0;
    padding: 0;
  }
    .contentafter_wrap{
      display: inline-block;
      vertical-align: bottom;
      h4{
        margin-bottom: 15px;
      }
      p{
        font-size: 16px;
        color:$darkColor;
        font-family: 'Nunito', sans-serif;
      }
    }

}


  //headings style
  h2, h3, h4 {
    margin-bottom: 1.6em;
    line-height: 1;
  }
  h6{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0.45em;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 700;
  }
  h5{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
  }
}

.col-lg-3 .icon-box.bordered{
  padding: 50px 40px 42px;
  .icon-styled i{
    margin-bottom: 32px;
  }
}
.col-md-4 .icon-box.bordered{
  padding: 50px 40px 42px;
  .icon-styled i{
    margin-bottom: 23px;
  }
  h5{
    font-weight: 600;
    letter-spacing:-1px;
    margin-bottom: 3px;
  }
}

.icon-box.bordered{
  width: 100%;
}

.text-left .contentafter_wrap{
  text-align: left;
  p{
    text-align: left;
  }
}

.icon-box .icon-styled i {
  display: inline-block;
  vertical-align: bottom;
}
.icon-box.text-center .icon-styled i {
  background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $colorMain;
  margin-bottom:5px;
}
.text-left .icon-box.text-center .icon-styled i{
  color: $colorMain;
  font-size: 40px;
  background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
  -webkit-background-clip: text;
  -webkit-text-fill-color:$colorMain;
}

.icon-box.text-center {
  width: 100%;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:45px 0 40px 0;
  .icon-styled.color-main i {
    background: transparent;
    -webkit-text-fill-color: $colorMain;
    color: $colorMain;
  }
  h5{
    margin-bottom: 0;
  }
}


.icon-box.text-center .icon-styled.icon-bordered.bordered {
  margin-bottom: 10px;
  i {
    line-height: 2.6em;
  }
}
.icon-box .icon-styled.rounded i{
  font-size:25px;
  color: $lightColor;
  background-image:none;
  background: transparent;
  -webkit-text-fill-color:$lightColor;
}
.icon-box .icon-styled.round i {
  font-size:16px;
  color: $lightColor;
  background-image:none;
  background: transparent;
  -webkit-text-fill-color:$lightColor;
}
.icon-box.text-center .icon-styled + p{
  margin-bottom: 0;
}
.icon-box + .icon-box{
  margin-left:70px;
}

.cs.icon-box .icon-styled {
  margin-bottom: 22px;
  i {
    color: $darkColor;
    font-size: 30px;
    margin-right: 5px;
  }
}
.cs.icon-box .icon-styled + div.media-body{
  color: $darkColor;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  p{
    margin-bottom: 10px;
  }
  a{
    color: $darkColor;
    &:hover{
      color: $lightColor;
    }
  }
}
.icon-box.home-style{
  .icon-styled i{
    font-size: 50px;
  }
  h5{
   font-size: 25px;
    margin-top: 5px;
    line-height: 1.2;
  }
}

.icon-box.media{
  display: block;
  text-align: center!important;
  font-family: 'Nunito', sans-serif!important;
}
.media,
.icon-box {
  //accent heading
  .heading-accent {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: inherit;
    font-size: 30px;
    margin-bottom: 0.6em;
    line-height: 1;

    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
  .icon-styled + .heading-accent {
    margin-top: 0.6em;
  }

  //special heading
  .special-heading {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
}

.media {
  &.ls,
  &.ds,
  &.cs,
  &.bordered,
  &.hero-bg,
  &.muted-bg,
  &.box-shadow {
    padding:35px 40px;

    [class*='bg-'],
    .icon-bordered {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
        margin-left: 30px;
      }
    }

  }

  .media-body > p:first-child {
    margin-top: -0.2em;
  }
}

.icon-styled + .media-body h6{
  margin-top:0;
  margin-bottom:16px;
  font-size:18px;
}

.media.box-shadow .icon-styled + .media-body h6{
  margin-bottom: 7px;
  + p.small{
    line-height: 1.5;
    font-size: 14px;
  }
}

.side-icon-box {
  margin: 15px 0 32px;
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.17em;
    margin-top: 0;
    margin-bottom: 15px;
  }
  @media (min-width: 1200px) {
    .icon-styled + .media-body {
      margin-left: 50px;
    }
    & {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1440px) {
  .col-lg-3 .icon-box.bordered{
    padding: 50px 0 42px;
  }
}
@media (max-width: 1199px) {
  .col-md-4 .icon-box.bordered {
    padding: 50px 10px 42px;
  }
  .icon-box h5 {
    font-size: 25px;
  }
  .media.box-shadow {
    padding: 30px 20px;
  }
  .col-lg-3 .icon-box.bordered {
    padding: 50px 10px 42px;
  }
}


.vertical-center {
  display: flex;
  align-items: center;
}
.cs .media-body h4 + p{
   color: $darkColor;
 }
.media-body h4 + p{
  margin-top: 12px;
}

.ds .icon-box .icon-styled + h5 + p{
  opacity: 0.5;
}
.icon-box .icon-styled + h5 + p{
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}
@media (max-width: 1199px) {
  .text-left .contentafter_wrap p {
    text-align: center;
  }
  .icon-box .icon-styled h4 {
    margin: 0;
    padding: 0;
  }

  .icon-box.ls, .icon-box.ds, .icon-box.cs, .icon-box.bordered, .icon-box.hero-bg, .icon-box.muted-bg, .icon-box.box-shadow {
    padding: 13px;
  }

}


@media (max-width: 991px) {
  .icon-box.ls, .icon-box.ds, .icon-box.cs, .icon-box.bordered, .icon-box.hero-bg, .icon-box.muted-bg, .icon-box.box-shadow {
    padding: 35px 10px;
  }
  .text-left .contentafter_wrap p {
    text-align: left;
  }
  .icon-box.box-shadow{
    width: 100%;
  }
  .text-left .icon-box.text-center{
    width: auto;
  }
  .icon-box.home-style h5 {
    min-height: auto;
  }
  .col-lg-3 .icon-box.bordered {
    padding: 50px 10px 42px;
  }
  .media.box-shadow {
    padding:20px;
  }

}
@media (max-width: 575px) {
  .icon-box .icon-styled.mb-40{
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .icon-box .icon-styled .contentafter_wrap h4 {
    text-align: center;
  }
  .icon-box + .icon-box {
    margin-left: 20px;
  }
  .icon-box.text-center {
    padding: 35px 0 10px;
  }

}