.quote-item {
  border: none;
  padding:48px 40px 18px;
  margin-top:0;
  margin-bottom:93px;
  position: relative;
  background: $lightColor;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
  }
  i{
    display: block;
    font-size:31px;
    background: linear-gradient(45deg, $colorMain2 10%, $colorMain2 30%, $colorMain);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $colorMain;
    left: -3px;
    margin-bottom:33px;
  }
  .quote-image{
    img{
      width: 100px;
    }
  }
  footer{
    span.author_job{
      display: block;
      margin-top: 9px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;
      line-height: 1;
      color: $colorMain;
    }
  }
  p{
    margin-top:0;
    display: block;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
    color: $darkColor;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  cite{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    display: block;
    margin-top: 15px;
    color: $fontColor;
  }

  footer{
    display: block;
  }
}

.quote-image {
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: auto;
  bottom: -89px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  img {
    border-radius: 50%;
    }
  //testimonial author
  & + p {
    margin: 30px 0 20px;
  }

}
.active.center .quote-item{
  opacity: 1;
}

.container-fluids-mw .container-fluid{
  width: 80%;
}


@media (max-width: 1199px) {
  .quote-item p:after {
    width: 220px;
  }
  .quote-item {
    padding: 28px 30px 34px;
  }
  .testimonials-slider.style2 .quote-item .quote-image {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .quote-item {
    padding:20px 15px 20px;
  }
  .quote-item em {
    margin-top: 1.2rem;
    font-size: 14px;
  }
  .quote-item cite {
    margin-top: 1.4em;
  }

}
@media (max-width: 991px) {
  .quote-image {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container-fluids-mw .container-fluid {
    width: 100%;
  }
}



/* testimonials style 2 */

#section_testimonials{
 background-image: url(../images/section_testimonials.jpg);
  background-size: cover;
}

.testimonials-slider.style2{
  .quote-item {
    box-shadow: none;
    margin: 0;
    padding:60px;
    width: 71%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:before{
      content: '';
      background: $lightColor;
      position: absolute;
      opacity: 0.7;
      bottom: -30px;
      height: 30px;
      width:90%;
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      top: auto;
    }
    &:after{
      content: '';
      background: $lightColor;
      position: absolute;
      opacity: 0.5;
      bottom: -60px;
      height: 60px;
      width:83%;
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      top: auto;
    }


    .quote-image {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      bottom: 0;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      left: 0;
      margin-bottom:20px;

      img {
        width: 110px;
      }

    }
    p {


      font-style: normal;
      color: $fontColor;
      line-height: 1.4;
      font-size: 18px;
      font-weight: 300;
      position: relative;
      padding-bottom: 0;
      margin-bottom: 35px;
      margin-top: 35px;
    }
    footer {
      position: relative;
      text-align: center;
      cite {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        color: $darkColor;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        margin: 0;
        padding: 0;
        color: $colorMain;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Nunito', sans-serif;
      }
    }
  }
  .owl-nav {
    > div {
      color: $lightColor;
      font-size: 18px;
      text-transform: capitalize;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $colorMain;
        i {
          color: $colorMain;
        }
      }
      i {
        border: none;
        background: transparent;
        color: $lightColor;
        padding: 0;
        margin-right: 20px;
        font-size:28px;
        position: relative;
        top:3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    div.owl-next i{
      margin-right: 0;
      margin-left: 20px;
    }
  }



}


@media (max-width: 1199px) {
  .testimonials-slider.style2 .quote-item .quote-image {
    margin-bottom: 30px;
  }
  .testimonials-slider.style2 .quote-item {
    width: 65%;
    padding: 40px 30px 30px;
  }
}

@media (max-width: 991px) {
  .testimonials-slider.style2 .quote-item {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .testimonials-slider.style2 .owl-nav{
    display:none;
  }
  .testimonials-slider.style2 .quote-item {
    width:100%;
  }
}

@media (max-width: 576px) {
  .testimonials-slider.style2 .quote-item .quote-image i {
    position: absolute;
    left: -173px;
    top: -35px;
  }
}
@media (max-width: 479px) {
  .testimonials-slider.style2 .quote-item .quote-image{
    display: block;
    img{
      margin-bottom: 20px;
    }
  }
  .testimonials-slider.style2 .quote-item .quote-image footer cite{
    text-align: center;
  }
  .testimonials-slider.style2 .quote-item .quote-image footer p{
    text-align: center;
  }
  .testimonials-slider.style2 .quote-item .quote-image {
    margin-bottom: 0;
  }
  .testimonials-slider.style2 .quote-item p{
    margin-top: 0;
  }


}





























