/*
** Main Menu styles
*/
.nav-wrap {
  display: flex;
  //vertical align all nav content (logo, nav, header buttons etc)
  align-items: center;
  justify-content: space-between;
  @media(min-width: 768px) and (max-width: 991px) {
    justify-content: flex-end;
  }
  //header includes that goes right after menu and before top-includes
  & > .top-nav + *:not(.top-includes) {
    flex-grow: 100;
    padding-left: 30px;
    padding-right: 30px;
  }
}



/* Desktop menu - (min 1200px) styles */
@media(min-width: 1200px) {
  //nav .top-nav - wrapper for ul.nav.sf-menu
  .top-nav {
    position: relative;
    flex-grow: 10;
    flex-wrap: nowrap;

    display: flex;
    align-items: center;

    .justify-nav-end & {
      justify-content: flex-end;
    }

    .justify-nav-center & {
      justify-content: center;
    }
  }
  .text-center{
    .top-nav{
      justify-content: center;
    }
  }

  /* menu layout */
  //override .nav - display flex - for correct menuHideExtraElements
  .sf-menu {
    display: block;
  }
  .sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sf-menu li {
    position: relative;
  }
  .sf-menu li > ul {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 99;
  }

  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    display: block;
  }

  .sf-menu a {
    display: block;
    position: relative;
  }

  .sf-menu > li > a.sf-with-ul:after {
    color: $darkColor;
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 10px;
    padding-left: 9px;
    position: relative;
    top: -3px;
  }

  /* menu skin */

  .sf-menu a {

    padding: 0;
    margin:0 30px;
    text-decoration: none;
    // /* IE7 */
    zoom: 1;
    transition-property: color, background-color, border-color, padding-top, padding-bottom;
    font-size: 16px;
    font-weight: 300;
  }

  .sf-menu li {
    // /* no need for Supersubs plugin */
    white-space: nowrap;
    // /* ...unless you support IE7 (let it wrap) */
    *white-space: normal;

  }

  //first level
  .sf-menu > li {
    //inline-block for easy change menu items alignment to right, center or left
    display: inline-block;
    position: relative;
  }

  //.nav is added to override .nav-narrow
  .sf-menu.nav > li:first-child > a {
    margin-left: 0;
  }
  .sf-menu.nav > li:last-child > a {
    margin-right: 0;
  }

  .sf-menu > li > a {
    //uncomment following if you need border on active and hovered item
    line-height: 16px;
    padding-top: 37px;
    font-weight: 700;
    padding-bottom:37px;
    margin:0 20px;
    transition-duration: 0.15s;
    text-transform: uppercase;

    .affix & {
      padding-top: 33px;
      padding-bottom: 33px;
    }
    @media (min-width: 1500px) {
      margin:0 30px;
    }
  }
  .sf-menu > li > a.sf-with-ul:after{
    //font-family: 'FontAwesome';
    //content: "\f078";
    //font-size: 10px;
    //color: $lightColor;
    //position: relative;
    //padding-left: 9px;
    //top: -3px;
  }

  .sf-menu > li > a:hover,
  .sf-menu > li.active > a {
    //uncomment following if you need border on active and hovered item
    //border-color: $colorMain;
    color: $colorMain;
    &:after{
      color: $colorMain;
    }
  }



  .nav-narrow {
    .sf-menu > li {
      padding: 0;
    }

    .sf-menu > li > a {
      padding-top:70px;
      padding-bottom:70px;
    }

    .sf-menu > li.active > a {
      //&:before {
      //  content: '';
      //  position: absolute;
      //  height: 1px;
      //  left: -20px;
      //  right: -20px;
      //  top: 0;
      //  z-index: 1;
      //  background-color: $colorMain;
      //}
    }
    .sf-menu > li.active > a:before{
      background-color: $colorMain;
      content: "";
      height: 4px;
      left:0;
      position: absolute;
      right:0;
      top: auto;
      bottom: 0;
      z-index: 1;
    }
  }

  .nav-bordered {
    .sf-menu > li + li:before {
      content: '';
      width: 1px;
      position: absolute;
      left: -2px;
      top: 0;
      bottom: 0;
      background-color: $colorBorderColor;
    }
  }
  .cs {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $darkColor;
    }
  }
  .ds {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain;
    }

  }
  .ls {
    .sf-menu > li > a {
      color: $darkColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain;
    }

    .sf-menu > li + li:before {
      background-color: transparent;
    }
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
  }

  /* second and next levels */
  .sf-menu > li .mega-menu,
  .sf-menu.nav li > ul {
    //for animation
    margin-top: -4px!important;
    text-align: left;
    list-style: none;
    padding: 21px 0 21px;
    border-top: 4px solid $colorMain;
    background-color:$backgroundColorFooter;
    box-shadow:none;
    min-width: 14em; /* allow long menu items to determine submenu width */
    *width: 10em; /* no auto sub width for IE7, see white-space comment below */
    a {
      color: $fontColor;
      font-size: 18px;
      line-height: 18px;
      display: block;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 4px;
      &:hover{
        background: $backdarkColorHover;
        color: $lightColor;
      }
    }
  }
  .sf-menu > li .mega-menu {
    padding-left: 0;
    padding-right: 0;
  }

  //.nav added to override .ds:not(.btn)
  .sf-menu.nav ul a {
    color: $darkColor;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sf-menu .mega-menu ul {
    box-shadow: none;
    padding: 0;
    background: transparent;
  }
  .sf-menu .mega-menu ul a {
    padding-left: 20px;
    padding-right: 20px;
    color: $fontColor;
    text-transform: capitalize;
  }
  .sf-menu ul > li + li:before {
  }
  .sf-menu ul a:hover,
  .sf-menu ul li.active > a {
    color: $colorMain;
  }
  /* third level */
  .sf-menu ul ul {
    margin-top: 0;
    //making third level on exact height as second
    top: -32px;
  }

  // styling for both css and generated arrows
  // uncomment for add arrows for ul with sub-menus
  .sf-arrows .sf-with-ul:after {
    // font-family: 'FontAwesome';
    // content: "\f107";
    // padding-left: 7px;
  }
  // styling for right-facing arrows
  // sub-menus
  //.sf-arrows ul li > .sf-with-ul:focus:after,
  //.sf-arrows ul li:hover > .sf-with-ul:after,
  //.sf-arrows ul .sfHover > .sf-with-ul:after {
  //}
  .sf-arrows ul .sf-with-ul:after {
    font-family: 'FontAwesome';
    padding-left: 7px;
    content: '\f105';

  }
}


@media(min-width: 1440px) {
  .sf-menu > li > a {
    margin:0 30px;
  }
}



.sf-menu i[class] {
  margin-right: 7px;
  font-size: 1.1em;
}




/* hidden menu items */
@media(min-width: 1200px) {
  .sf-menu .sf-xl-hidden {
    display: none !important;
  }
}

@media(max-width: 1199px) {
  .sf-more-li {
    display: none;
  }
  .sf-menu > li + li:before{
    top:20px;
  }
}
