/*
** Buttons
 */
.btn:hover {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 3px 0 rgba(100, 100, 100, .75);
}

.btn-secondary {
  border-color: $backgroundLightColor;
  background-color: $backgroundLightColor;
  color: $darkColor;
}


.btn-link {
  font-weight: 300;
  color: $darkColor;
  background-color: transparent;
  position: relative;
  padding: 0;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: auto;
    bottom:1px;
    left: 0;
    background: $darkColor;
  }
  &:hover{
    color: $colorMain;
    text-decoration: none;
    &:before {
      background:$colorMain;
    }
  }
}


/*color background buttons*/
.btn-maincolor,
.btn-maincolor2,
.btn-maincolor3,
.btn-darkgrey {
  color: $lightColor;

}
.btn-darkgrey{
  color: $lightColor;
}

.btn-maincolor {
  background-color: $colorMain;
  &:hover{
    color: $darkColor;
  }
}

.btn-maincolor2 {
  background-color: $colorMain2;
}

.btn-maincolor3 {
  background-color: $colorMain3;
}

.btn-darkgrey {
  background-color: $darkColor;
}

/*color outline buttons*/
.btn-outline-maincolor,
.btn-outline-maincolor2,
.btn-outline-maincolor3,
.btn-outline-darkgrey {
  background-color: transparent;
}

.btn-outline-maincolor {
  color: $colorMain;
  border-color: $colorMain;
}

.btn-outline-maincolor2 {
  color: $darkColor;
  border-color: $colorMain2;
}

.btn-outline-maincolor3 {
  color: $darkColor;
  border-color: $colorMain3;
}

.btn-outline-darkgrey {
  color: $darkColor;
  border-color: $colorMain;
}

.btn.btn-outline-light {
  color: $darkColor;
  border-color: $lightColor;
  &:hover{
    background-color:$lightColor;
  }
}