/* widget_calendar */
.calendar_wrap {
  width: 100%;
  margin-bottom: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media (min-width: 768px) and (max-width: 992px) {
    & {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.widget_calendar {
  a{
    color: $colorMain;
    &:hover{
      color: $darkColor;
    }
  }
  table {
    margin: 0;
    position: relative;
    text-align: center;
    max-width: 370px;

    //experiment
    display: flex;
    flex-direction: column;
  }

  caption {
    line-height: 1;
    font-family: 'Nunito', sans-serif;
    padding:21px 0 19px;
    text-align: center;
    font-size: 20px;
    font-weight:500;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: $lightColor;
    background-color: $colorMain;
  }
  thead {
    background-color: $colorMain2;
    color: $lightColor;

    th {

      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
      text-align: center;
      width: 100px;
      color: $lightColor;
      font-size: 12px;
      font-weight: 400;
      line-height:2.7;
    }
  }

  tbody {
    border-top: none;
    background: $greyColor;
    tr {
      border: none;
      &:first-child {
        td {
          padding-top:25px;
          color: $fontColor;
        }
      }
      &:last-child {
        td {
          padding-bottom: 25px;
        }
      }
    }
    td {
      padding: 10px 4px;
      position: relative;
      color: $fontColor;
      width: 100px;
      font-weight: 400;
      font-size: 14px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }

  th {
    color: inherit;
  }

  tfoot {
    td {
      position: absolute;
      top: 0;
      a {
        //uncomment to hide text near arrows
        //font-size: 0;
        //width: 60px;

        text-align: center;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        padding: 0 25px;
        font-size: 0;
        color: transparent;
        &:hover {
          background-color: $colorMain;
          border-color: $colorMain;
        }
        &:before,
        &:after {
          color: $lightColor;
          font-size: 9px;
          font-family: 'FontAwesome';
        }
      }
      &.pad {
        display: none;
      }
    }

    //prev
    td:first-child {
      left: 0;
      padding: 0;
      a {
        &:before {
          content: '\f053';
        }
      }
    }
    //next
    td:last-child {
      right: 0;
      padding: 0;
      a {
        &:after {
          content: '\f054';
        }
      }
    }
  }
}
.ds.page_footer .widget_calendar tbody tr td{
  color: $lightColor;
}
.ds.page_footer .widget_calendar tbody tr a{
  color: $colorMain;
}
.ds.page_footer .widget_calendar caption {
  background-color: $darkBackgroundColor;
}



























