/* widget_tag_cloud */
.widget_tag_cloud, .widget_product_tag_cloud {
  a {
    color: $lightColor;
    border: 1px solid $colorMain;
    background: $colorMain;;
    text-transform: capitalize;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    padding:3px 19px;
    margin:0 2px 5px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px!important;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    &:hover {
      background-color: transparent;
      border-color: $colorMain;
      color: $colorMain;
    }
  }
}