/* bootstrap collapse*/
//unstyled
[data-toggle="collapse"] {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  margin-bottom:0;
  font-size: 24px;
  &:after {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top:-5px;

    font-size: 10px;
    font-family: 'FontAwesome';
    content: "\f078";
  }
  &.collapsed {
    &:after {
      content: "\f054";
    }
  }
}

//cards as tabs
[role="tablist"] {
  .card {
    border-radius: 0;
    border: none;
    background: none;
    margin-bottom:0;
    > div{
      margin-bottom: 15px;
      .card-body{
        padding: 0;
        margin-bottom:20px;
      }
    }
    &:first-child{
      .card-header{
        padding-top: 0;
      }
    }
  }
  .card-header {
    padding: 25px 0;
    background: none;
    border: none;
    margin-bottom:0!important;
    border-bottom: 1px solid $borderColor;
    a {
      font-size: 24px;
      letter-spacing: 0;
      text-transform: capitalize;
      display: block;
      position: relative;
      padding:0 40px 0 0;
      background-color:$lightColor;
      color: $colorMain;
      &:before,
      &:after {
        text-align: center;
        font-family: inherit;
        font-size:15px;
        font-weight: 100;
        content: '';
        width: 20px;
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        color:$colorMain;
        background-color:transparent;
        transition: opacity 0.3s ease-in-out;
      }
      &:after {
        height: 30px;
        line-height: 30px;
        margin-top: -15px;
        vertical-align: top;
        top: 50%;
        bottom: auto;
        content: "\f077";
        font-family: 'FontAwesome';
        background: none;
      }
      &:hover {
        color: $colorMain;
        &:before,
        &:after {
          //opacity: 0.9;
        }
      }
      &.collapsed {
        background-color: $lightColor;
        color: $darkColor;
        padding-top:0;
        padding-bottom:0;
        font-weight:400;
        &:hover {
          color: $colorMain;
          opacity: 1;
        }
        &:after {
          content: "\f078";
          font-family: 'FontAwesome';
          margin-top: -15px;
        }
      }
    }


  }
  .collapse{
    margin-bottom:0!important;
  }
  .media img {
    max-width: 80px;
  }
}

#accordion02 .card{
  box-shadow: none;
}

[role="tablist"] .card-header + div .card-body {
  padding:0 40px 0 0;
  margin-bottom: 0;
  background-color: $lightColor;
}

[role="tablist"]#accordion01 {
  h6.mb-20 {
    margin-bottom: 20px;
  }
  .collapse{
    margin-bottom: 0;
    border-bottom: 1px solid $borderColor;
    padding-top:13px;
    padding-bottom:15px;
  }
}


[role="tablist"] {
  .card + .card{
    margin-top:0;
  }
  > div + div{
     margin-top:35px;
   }
}

@media (max-width: 767px) {
  [role="tablist"] .card-header a {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  [role="tablist"] .card-header a{
    padding:0 0 0 20px;
  }
  [role="tablist"] .card-header a:before, [role="tablist"] .card-header a:after {
    left: -10px;
  }
  [role="tablist"] .card-header + div .card-body {
    padding:0 0 0 20px;
  }
}
















