/* bootstrap tabs*/
.nav-tabs {
  border-bottom: none;

  .nav-link {
    border-radius:5px 5px 0 0;
    border:none;
    background:$backgroundColor;
    margin-right:2px;
    font-weight: 700;
    color: $fontColor;
    &:hover {
      border-color: $colorMain;
      background: $colorMain;
      color: $lightColor;
      font-weight:700;
    }
  }

  .nav-item.show .nav-link,
  .nav-link.active {
    border-color: $colorMain;
    background: $colorMain;
    color: $lightColor;
    font-weight:700;
  }
  .nav-item {
    margin-bottom: 0;
  }
}

.nav-link {
  font-size: 14px;
  font-weight:700;
  text-transform: uppercase;
  padding:32px 90px;
  color: $fontColor;
  line-height:1.15;
  i{
    color: $darkColor;
  }
  .small-tabs & {
    padding:23px 28px 19px;
  }
  .small-tabs{
    .tab-content{
      padding: 40px;
    }
  }
}

@media (max-width: 1440px) {
  .nav-link {
    padding:10px 21px;
  }
  .nav-tabs .nav-link {
    font-size: 15px;
  }

}
@media (max-width: 1199px) {
  .nav-link {
    padding:10px 14px;
  }
}

.tab-content {
  border:none;
  padding:60px;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  background-color:$greyColor;
  border-top: 4px solid $colorMain;
}

.tab-pane {
  .media {
    img {
      max-width: 40%;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}


/* style 2 */


.nav.nav-tabs.style2{
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid $borderColor;
  position: relative;
  left: 50%;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 80px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  .nav-item {
    display: inline-block;
    .nav-link {
      background: transparent;
      font-size: 20px;
      font-weight: 300;
      color: $darkColor;
      padding:0 10px 18px;
      position: relative;
      &:after{
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        top: auto;
        left: 0;
        right: 0;
        background: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:hover{
        opacity: 1;
        &:after{
          background: $fontColor;
        }
      }

    }
    + .nav-item{
        .nav-link{
          margin-left: 25px;
        }
    }
  }

  .nav-item.show .nav-link,
  .nav-link.active {
    color: $fontColor;
    font-weight: 600;
    &:after{
      height: 3px;
      width: 100%;
      background: $fontColor;
    }
  }
  + .tab-content{
    padding: 0;
    box-shadow: none;
  }
}




@media (max-width: 991px) {
  .nav.nav-tabs.style2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .nav.nav-tabs.style2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 576px) {
  .nav.nav-tabs.style2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav.nav-tabs.style2 .nav-item + .nav-item .nav-link {
    margin-left: 10px;
  }
}

@media (max-width: 479px) {
  .nav.nav-tabs.style2 .nav-item + .nav-item .nav-link {
    margin-left: 0;
  }
  .nav.nav-tabs.style2 .nav-item .nav-link{
    font-size: 17px;
    padding: 0 4px 18px;
  }
  .nav.nav-tabs.style2{
    padding-left:0;
    padding-right:0;
  }


}















